// Mixin for focus-visible styles with default values
@mixin focus-visible-style($outline-offset: 2px, $border-radius: null) {
  outline: 2px solid $focus-outline;
  box-shadow: 0 0 0 2px #fff;
  outline-offset: $outline-offset;
  transition: none;

  // Only apply border-radius if a value is provided
  @if $border-radius != null {
    border-radius: $border-radius;
  }
}

// General styles for elements after focus
.v-btn:after,
.v-list-item:after,
.v-selection-control--focus-visible .v-selection-control__input:before {
  content: none;
}

// Prevent color changes in buttons when focus visible
.v-btn:focus-visible .v-btn__overlay {
  opacity: 0;
}

a {
  padding: 0 4px;

  &:focus-visible {
    @include focus-visible-style(2px, 4px)
  }
}

// Focus visible styles for radio buttons, buttons, and tabs
.v-radio.v-selection-control--focus-visible,
.v-btn:focus-visible,
.tab-focused .v-field {
  @include focus-visible-style(2px);
  z-index: 1;
}

// Checkbox button focus visible styling
.v-checkbox-btn.v-selection-control--focus-visible .v-selection-control__wrapper {
  @include focus-visible-style(-8px, 10px);
}

// Dropdown items focus visible styling
.v-list-item:focus-visible {
  @include focus-visible-style(-2px, 4px);
}

// Help icons focus visible styling
.v-icon:focus-visible {
  outline: 2px solid $focus-outline;
  box-shadow: 0px 0px 0px 2px #fff;
  border-radius: 50%;
}

.v-slide-group__container {
  contain: unset;
  overflow: unset;
}