@import 'theme.scss';
@import 'accessibility.scss';

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BCSans/BCSans-Regular.woff2') format('woff2'),
    /* Optimized for very modern browsers */
  url('../fonts/BCSans/BCSans-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/BCSans/BCSans-Italic.woff2') format('woff2'),
    /* Optimized for very modern browsers */
  url('../fonts/BCSans/BCSans-Italic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/BCSans/BCSans-Bold.woff2') format('woff2'),
    /* Modern Browsers */
  url('../fonts/BCSans/BCSans-Bold.woff') format('woff'); /* Optimized for very modern browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */
  url('../fonts/BCSans/BCSans-BoldItalic.woff') format('woff'); /* Optimized for very modern browsers */
}

html,
body {
  min-height: 100vh;
  padding-right: 0px !important;
}

html {
  // default font size (14px)
  font-size: 0.875rem;
  font-family: 'BCSans', Verdana, Arial, sans-serif; // BC Government Font
}

@media (min-width: 960px) {
  html {
    // default font size (16px)
    font-size: 1rem;
  }
}

body {
  font-size: 1rem;
}

// Containers
.v-application {
  background-color: $gray1 !important;
  .ProseMirror {
    p {
      margin-bottom: 16px;
    }
  }
}

.view-container {
  color: #495057;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  width: 100%;
}

.footer-view-container {
  margin-bottom: 180px; // Applied for views with footers to prevent margin bottoms on each End/Bottom components.
}

.scroll-container {
  max-height: 600px;
  overflow-y: auto;

  .content {
    padding: 16px;
  }

  .item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
}
.read-only-container {
  background-color: $gray1;
  padding: 30px;
}

// Fonts/Icons
h1,
h2,
h3,
h4 {
  color: $gray9;
  font-weight: 700;
  line-height: 2.25rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-weight: 400;
  color: $gray7;
}

a {
  color: $app-blue;
}
.fs-10 {
  font-size: .625rem;
}
.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-32 {
  font-size: 32px;
}

.key-value-pair {
  & > :first-child {
    font-weight: bold;
  }
  & > :nth-child(2) {
    color: $gray7;
  }
}

.error-text {
  color: $error !important;
}
.gray7 {
  color: $gray7;
}

.disabled-text {
  opacity: 0.7;
}

.v-input--disabled {
  .mdi-menu-down::before { // grey-out dropdown icon for disabled fields
    color: $gray7;
  }
}

// generic label placeholder to be extended
%generic-label, .title-text {
  color: $gray9;
  font-weight: bold;
  line-height: 22px;
  i {
    color: $gray9 !important;
  }
}

.generic-label, .sub-header {
  @extend %generic-label;
  font-size: 1rem;
}

.sub-header-info {
  @extend p
}

.generic-label-14 {
  @extend %generic-label;
  font-size: 14px;
}

.generic-link {
  cursor: pointer;
  color: $app-blue;
  text-decoration: underline;
}

.icon-large {
  height: 25px !important;
  width: 25px !important;
}

.icon-medium {
  height: 21px !important;
  width: 21px !important;
}

.icon-small {
  height: 17px !important;
  width: 17px !important;
}

.divider {
  border-right: 1px solid $gray3;
}

.vert-divider {
  height: 1.125rem;
  color: $gray7;
  opacity: 1;
}

// Alignment helper for pre-text icons
.icon-text {
  display: flex;
  align-items: flex-start;
  word-break: break-word;
}

// Header Bars
.review-header, .summary-header {
  border-radius: 4px 4px 0 0;
  display: flex; // to align icons
  background-color: $app-lt-blue;
  padding: 1rem 1.5rem;
  color: $gray9;

  .review-header-icon {
    vertical-align: middle;
    width: 25px;
    height: 21px;
  }
}

// Tables
.group-header, .group-header:hover {
  font-weight: bold;
}
.v-table:not(#registration-table) > .v-table__wrapper  {
  max-width: 100%;
}

// Actions Table Header and Action Cell Override Styling
.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th.registration-action,
.v-table > .v-table__wrapper > table > tbody > tr > td.actions-cell {
  background: white;
  left: 0;
  position: sticky;
  right: 0;
  width: 156px;
  max-width: 156px;
  min-width: 156px;
}

// Styling for table columns with action buttons
.actions-up {
  float: right;
  white-space: nowrap;
}

.actions__more {
  border-left: 1px solid $gray3;
}

.actions-width {
  width: 0;
}

.disabled-text, tr.disabled-text-not-action td:not(.chip-cell), tr.disabled-text-not-first td {
  opacity: .7;
}

#registration-table.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th.registration-action,
#registration-table.v-table > .v-table__wrapper > table > tbody > tr > td.actions-cell {
  border-left: 1px solid $gray3;
  box-shadow: inset 1px 0 2px 0 $gray5
}

.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th.registration-action {
  z-index: 4;
}

.actions .edit-action {
  border-right: 1px solid #f1f3f5;
}

.actions .v-list-item__subtitle,
.actions .v-list-item__subtitle .v-icon {
  color: $primary-blue;
}

.actions .v-list-item {
  min-height: 30px;
}

// Button Helpers
.important-btn {
  height: 46px !important;
  min-width: 260px !important;
  font-weight: 600;
}

// dialog styles
.dialog-btn {
  box-shadow: none;
  min-width: 6rem !important;
}

.dialog-checkbox {
  color: $gray9;
}

.dialog-title {
  color: $gray9;
  font-size: 1.5rem;
  line-height: 1.625rem;
}

.dialog-text {
  color: $gray7;
  font-size: 1rem;
  line-height: 1.5rem;
}

// tombstone styles
.tombstone-header {
  color: $gray9;
  font-size: 1.25rem;
  font-weight: bold;
  vertical-align: bottom;
}

.tombstone-info {
  color: $gray7;
  font-size: 0.875rem;
  vertical-align: bottom;
}

// borders
.border-error-left {
  scroll-margin-top: 200px; // Provides space between top of viewport and scrolled-to element
  border-left: 3px solid $error!important;
}

.rounded-all {
  border-radius: 4px 4px 4px 4px;
}

.rounded-top {
  border-radius: 4px 4px 0 0;
}

.rounded-bottom {
  border-radius: 0 0 4px 4px;
}

.dotted-underline {
  cursor: default;
  border-bottom: 1px dotted $gray7;
  text-decoration: none;
}

// Common List Styling
ol, ul {
  li {
    color: $gray7;
  }

  li::marker {
    font-weight: bold;
  }
}

ul {
  list-style-type: disc;

  li::marker {
    font-size: 0.75rem;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

// Generic Radio Btns
.radio-one {
  width: 48%;
  margin-right: 20px !important;
  background-color: rgba(0, 0, 0, 0.06);
  height: 60px;
  padding: 10px;
}

.radio-two {
  width: 48%;
  background-color: rgba(0, 0, 0, 0.06);
  height: 60px;
  padding: 10px;
  margin-right: 0px !important;
}

.selected-radio {
  border: 1px solid $app-blue;
  background-color: white;

  :deep(.theme--light.v-label:not(.v-label--is-disabled), .theme--light.v-messages) {
    color: $gray9 !important;
  }
}

// Dynamic Counters for stacked sections
.increment-sections {
  counter-reset: section 0
}

.increment-sections section h2:not(.dialog-title)::before {
  counter-increment: section;
  content: counters(section,".") ". "
}

// TipTap focus styling overrides
.ProseMirror {
  padding: 12px;

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  hr {
    margin: 20px 0;
  }

  p {
    color: $gray9;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: $gray7;
    pointer-events: none;
    height: 0;
    font-size: 16px;
  }

  :focus {
    outline: none !important;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      border: 2px solid #ced4da;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      min-width: 200px;
      min-height: 50px;
      padding: 10px 10px 16px 10px !important;
      white-space: break-spaces;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }

    p {
      margin: 0;
    }
  }
}

// Mixin to generate line-height classes, eg. lh-18, lh-20, etc
@mixin generate-line-heights($from: 18, $to: 36, $increment: 2) {
  $line-height: $from;
  @while $line-height <= $to {
    .lh-#{$line-height} {
      line-height: #{$line-height}px;
    }
    $line-height: $line-height + $increment
  }
}

@include generate-line-heights;
