@import 'theme.scss';

.app-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.v-application--wrap .app-header {
  position: -webkit-sticky; // Safari
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 8 !important;
}

.app-body {
  flex: 1 1 auto;
  position: relative;
}

.app-container > .container:first-child {
  padding: 2rem;
}

@media (min-width: 960px) {
  main > .container:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.app-footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1360px; // should match auth-web, etc
}

// Page Layout
.view-container {
  color: $gray7;
  display: flex;
  flex-flow: column nowrap;
  max-width: none;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  article {
    flex: 1 1 auto;

    section {
      margin-top: 2.25rem;
    }
  }
}

// Form Layout
.form__row + .form__row {
  margin-top: 0.25rem;
}

.form__btns {
  display: flex;

  .v-btn {
    margin: 0;

    + .v-btn {
      margin-left: 0.5rem;
    }

    &.form-primary-btn {
      margin-left: auto;
    }
  }
}

.column-width-xxl {
  width: 40%;
}

.column-width-xl {
  width: 27%;
}

.column-width-lg {
  width: 20%;
}

.column-width-md {
  width: 14%;
}

.column-xxl {
  width: 22.5rem;
}

.column-xl {
  width: 18rem;
}

.column-lg {
  width: 15rem;
}

.column-md {
  width: 10.5rem;
}

.column-mdxl {
  width: 14rem;
}

.column-mdl {
  width: 13rem;
}

.column-mds {
  width: 8rem;
}

.column-sm {
  width: 6rem;
}

.column-xs {
  width: 5rem;
}

// borders
.v-application .border-error-left {
  scroll-margin: 300px;
  border-left: 3px solid $error !important;
}

.soft-corners {
  border-radius: 5px 5px 5px 5px;
}

.soft-corners-top {
  border-radius: 5px 5px 0 0;
}

.soft-corners-bottom {
  border-radius: 0 0 5px 5px;
}
