@import 'theme.scss';
.app-body {
  flex: 1 1 auto;
  position: relative;
}
.v-container {
  max-width: 1380px; // Aligns with Auth - Sets for all media breakpoints to prevent inconsistent widths
  @media (max-width: 1100px) { // Preserve min padding on screen collapse
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
// Replaces vue-affix (same essential styling)
// Could be replaced with a more generic class if aside isn't preferred
aside {
  position: sticky;
  top: 50px;
  width: 285px;
}
// Common Table Column Width Helpers
.col-3, .col-sm-3 {
  max-width: 25%;
}
.column-width-xxl {
  width: 40%;
}
.column-width-xl {
  width: 25%;
}
.column-width-lg {
  width: 20%;
}
.column-width-md {
  width: 14%;
}
.column-xxl {
  min-width: 22.5rem;
}
.column-xl {
  min-width: 18rem;
}
.column-lg {
  min-width: 15.5rem;
}
.column-md {
  min-width: 10.5rem;
  max-width: 15rem;
}
.column-mdxl {
  min-width: 14rem;
}
.column-mdl {
  min-width: 13rem;
}
.column-mdm {
  min-width: 9rem;
}
.column-mds {
  min-width: 8rem;
}
.column-sm {
  min-width: 6rem;
}
.column-xs {
  min-width: 5rem;
}
.column-xxs {
  min-width: 3rem;
}
.col-30 {
  width: 30%;
}
.col-22-5 {
  width: 22.5%;
}
