// Vuetify Overrides
@import 'theme.scss';
// Central Loading Wrapper
.overlay-container {
  .v-overlay__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Input Field Overrides
.v-field--active {
  background-color: white;

  .v-label, .v-field-label {
    opacity: 1;
    color: $app-blue;
  }
}

.v-field--disabled {
  text-decoration: unset !important;
  opacity: 1;
  cursor: default !important;
  pointer-events: none !important;
}

.v-field--focused {
  .v-field__overlay {
    background-color: $gray6;
  }
}

.v-label, .v-field-label {
  opacity: 1;
  color: $gray7;
}

.v-text-field .v-field--active input {
  color: $gray7 !important;
}

.v-selection-control--dirty {
  color: $app-blue;
}

// Default Icon Size
.v-icon--size-default {
  font-size: 24px;
}

// Prevents overlay from washing out content on field focus
.v-field--variant-filled.v-field--focused .v-field__overlay {
  opacity: .1;
}

// Prevent expansion panel hover and active effects
.v-expansion-panel-title:hover > .v-expansion-panel-title__overlay,
.v-expansion-panel-title--active > .v-expansion-panel-title__overlay {
  opacity: 0;
}

.v-expansion-panel__shadow {
  box-shadow: none;
}

// v-select/v-menus
.v-list-item {
  .v-list-item__overlay {
    background: unset;
  }
}

.v-list-item:hover {
  color: $app-blue;
  cursor: pointer;

  .v-list-item__overlay {
    background: currentColor;
    opacity: .1;
  }
}

.v-list-item-subtitle {
  opacity: 1;
  color: $app-blue;
}

.v-list-item--density-default.v-list-item--one-line {
  min-height: 44px;
}

.v-input__details {
  letter-spacing: 0;

  .v-messages {
    color: #495057;
    opacity: 1;
  }
}
// Button Overrides
.v-btn {
  box-shadow: none;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: inherit;
}

.v-btn--disabled {
  opacity: .4 !important;
}

.v-btn--flat, .v-btn--variant-outlined {
  color: $app-blue;
  font-size: 0.875rem;
}

.v-btn--variant-elevated {
  background-color: $app-blue;
  color: white !important;
}

.v-btn:not(.v-btn--round).v-btn--size-default {
  min-height: 40px;
}

.v-btn--variant-plain {
  opacity: 1;
}

// Table Overrides
.v-table > .v-table__wrapper > table > thead > tr > th {
  padding-right: 0;
  vertical-align: top;
  font-weight: bold;
  color: $gray9;
  font-size: .875rem;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px
}

.v-table > .v-table__wrapper > table > tbody > tr > td {
  vertical-align: top;
  color: $gray7;
  font-size: .875rem;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
}

.v-table > .v-table__wrapper {
  .actions {
    padding-right: 28px;
    width: 100%;
  }
  .text-right {
    padding-top: 6px;
  }
}

// Generic Overlay
.v-overlay {
  --v-overlay-anchor-origin: bottom left;
}

// Tooltip Overrides
.v-tooltip > .v-overlay__content {
  width: 270px !important;
  background-color: RGB(73, 80, 87, .95) !important;
  color: white !important;
  border-radius: 4px;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0;
  padding: 20px;
}

.v-tooltip > .v-overlay__content.top-tooltip:after {
  content: '' !important;
  position: absolute !important;
  top: 100% !important;
  left: 46.5% !important;
  margin-top: 0 !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-top: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-tooltip > .v-overlay__content.bottom-tooltip:after {
  content: '' !important;
  position: absolute !important;
  left: 45% !important;
  top: 0 !important;
  margin-top: -18px !important;
  border-top: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-tooltip > .v-overlay__content.start-tooltip:after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  right: 100% !important;
  margin-top: -10px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

// v-chips
.v-chip.v-chip--size-default {
  height: unset;
  font-size: 0.625em;
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 4px;
}
