// Vuetify Overrides
@import 'theme.scss';

// tables
table {
  table-layout: fixed;
}
th {
  color: $gray9 !important;
  font-size: 0.875rem !important;
}
td {
  color: $gray7 !important;
  font-size: 0.875rem !important;
  min-width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Buttons
.v-btn {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  padding: inherit 28px !important;
  text-transform: none;
  .v-icon + span,
  span + .v-icon {
    margin-left: 0.25rem;
  }
}
.v-btn.primary {
  background-color: $primary-blue !important;
  color: white !important;
  font-weight: 700;
}

.v-btn:not(.v-btn--round).v-size--large {
  min-width: 88px;
}

tbody {
  tr:hover {
    background-color: transparent !important;
  }
}

.sbc-header {
  .v-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    text-transform: none !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: 0.875rem !important;
  }
}

.v-btn.outlined {
  color: $primary-blue !important;
  background-color: white !important;
  border: 1px solid $primary-blue !important;
}

// Text Inputs
.v-text-field--box .v-label--active,
.v-text-field--full-width .v-label--active,
.v-text-field--outline .v-label--active {
  transform: translateY(-8px) scale(0.75);
}

// Dialogs
.v-dialog {
  margin: 2rem;

  .v-card {
    .v-card__title {
      padding: 1.25rem 1.5rem;
      color: $BCgovFontColorInverted;
      background: $BCgovBlue5;
      font-size: 1.5em;
      font-weight: 400;
    }

    .v-card__text {
      padding: 1.5rem !important;
      font-weight: 300;
    }

    .v-card__actions {
      padding: 1rem;
    }
  }
}

// Expansion Panels
.v-expansion-panel:before {
  box-shadow: none;
}

.v-expansion-panel.align-items-top {
  .v-expansion-panel-header__icon {
    align-self: flex-start;
    margin-top: 0;
  }
}

.v-expansion-panel-header.no-dropdown {
  .v-expansion-panel-header__icon {
    display: none;
  }
}

.top-tooltip,
.left-tooltip {
  margin-left: 0 !important;
}

.v-tooltip__content {
  width: 270px !important;
  background-color: RGB(73, 80, 87) !important;
  color: white !important;
  border-radius: 4px;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0;
}

.v-tooltip__content:after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  right: 100% !important;
  margin-top: -10px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.top-tooltip:after {
  top: 100% !important;
  left: 45% !important;
  margin-top: 0 !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-top: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.left-tooltip:after {
  top: 50% !important;
  left: 100% !important;
  margin-top: -10px !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-left: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.bottom-tooltip {
  width: 390px !important;
}

.bottom-tooltip:after {
  left: 45% !important;
  top: 0 !important;
  margin-top: -18px !important;
  border-top: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-breadcrumbs__divider {
  padding: 0 !important;
}

.v-data-table__selected {
  background: $blueSelected !important;
}

.v-select__selections {
  line-height: 1.5rem !important;
}
.v-simple-checkbox .theme--light.v-icon {
  color: $primary-blue;
}

.folio-edit-txt .v-messages {
  text-align: end !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 44px;
}

.v-btn--outlined,
.v-btn--text {
  font-weight: normal;
}

.v-data-table__empty-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme--light.v-input input,
.theme--light.v-input textarea {
  color: $gray9;
}

.theme--light.v-list-item.v-list-item--link:hover {
  background-color: #eeeeee61;
  color: $primary-blue !important;
}

.more-actions .v-list-item__title,
.v-list-item__action {
  font-size: 14px;
}

.actions__more-actions .v-list-item {
  min-height: 30px;
}

.theme--light.v-application .v-input--selection-controls__ripple {
  color: $gray7;
}

.v-application #remove-btn:disabled {
  color: #d3272c !important;
  caret-color: #d3272c !important;
  opacity: 0.4 !important;
}

.v-btn.edit-btn:disabled {
  color: $primary-blue !important;
  opacity: 0.4 !important;
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: $primary-blue !important;
  opacity: 0.4 !important;
  color: white !important;
}

.v-btn.v-btn--outlined:disabled {
  color: #1669bb !important;
  caret-color: #1669bb !important;
  border: thin solid currentColor;
  opacity: 0.4 !important;
}

.theme--light.v-btn.v-btn--disabled .v-icon,
.theme--light.v-btn.v-btn--disabled .v-btn__loading,
.v-list.actions__more-actions.v-list--disabled {
  color: #1669bb !important;
  opacity: 0.4 !important;
}

.theme--light.v-text-field.v-input--is-disabled .v-input__slot::before {
  border-color: rgba(0, 0, 0, 0.42);
  border-image: none;
}

.theme--light.v-list-item .v-list-item__subtitle,
.theme--light.v-list-item .v-list-item__action-text,
.theme--light.v-list-item .v-list-item__subtitle .v-icon,
.v-list-item__action,
.v-list-item__action .v-icon {
  color: #1669bb !important;
}

.v-data-table td {
  text-overflow: initial;
  white-space: initial;
  vertical-align: top;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.v-data-table th {
  padding-bottom: 20px !important;
  vertical-align: bottom;
}

.v-data-table.party-summary-table tr.v-data-table__empty-wrapper td,
.v-data-table.debtor-summary-table tr.v-data-table__empty-wrapper td {
  text-align: left;
  border-left: 3px solid #d3272c !important;
  padding-left: 35px;
  padding-top: 30px !important;
  height: 90px;
}

.collateral-table .v-data-table__wrapper > table > tbody > tr > td,
.collateral-table > .v-data-table__wrapper > table > tbody > tr > th,
.collateral-table > .v-data-table__wrapper > table > thead > tr > td,
.collateral-table > .v-data-table__wrapper > table > thead > tr > th,
.collateral-table > .v-data-table__wrapper > table > tfoot > tr > td,
.collateral-table > .v-data-table__wrapper > table > tfoot > tr > th {
  padding: 0 8px;
}

.collateral-table.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  padding-top: 16px;
}

.collateral-table.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th:first-child {
  padding-left: 16px;
}

.v-application .collateral-table .v-btn.edit-btn,
.v-application .registration-table .v-btn.edit-btn {
  padding: 0 2px;
}

.v-application .collateral-table .v-btn.actions__more-actions__btn,
.v-application .registration-table .v-btn.actions__more-actions__btn {
  padding: 0 2px;
  min-width: 20px;
}

#party-summary .mdi-domain,
#party-summary .mdi-account,
#party-summary .list-item__title,
.registering-table item__title {
  color: $gray9 !important;
}

.pcafooter {
  display: none;
}

.registration-date .v-date-picker-title__date {
  font-size: 20px;
}

.registration-date .v-date-picker-table--date th,
.registration-date .v-date-picker-table--date td {
  font-size: 9px !important;
}

.registration-date .v-picker--date {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.registration-table th:last-child,
.registration-table td:last-child {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  /* z-index: 9998; */
  background: white;
}

.registration-table .v-data-table__wrapper {
  overflow-x: scroll;
}

.registration-table th {
  font-size: 13px !important;
}
.column-selection .v-list {
  z-index: 9999;
}

.column-selection .v-list-item [aria-selected='true'] {
  background-color: white;
}

.column-selection .v-list .v-list-item__title {
  font-size: 14px !important;
  color: $gray7;
}

.column-selection .v-list .v-icon {
  font-size: 20px !important;
}

.column-selection .v-list-item__action:first-child {
  margin-right: 10px;
}

.column-selection .v-input__slot {
  height: 45px;
  padding-left: 10px;
  padding-top: 4px;
}
