// Vuetify Overrides
@import 'theme.scss';

.v-list-item--link:before {
  background-color: inherit;
}

// tables
table {
  table-layout: fixed;
}
th {
  color: $gray9 !important;
  font-size: 0.875rem !important;
}
td {
  color: $gray7 !important;
  font-size: 0.875rem !important;
  min-width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Buttons
.v-btn {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  padding: inherit 28px !important;
  text-transform: none;
  .v-icon + span,
  span + .v-icon {
    margin-left: 0.25rem;
  }
}
.v-btn.primary {
  background-color: $primary-blue !important;
  color: white !important;
  font-weight: 700;
}
.v-btn.primary.copy-normal {
  font-weight: normal;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 44px;
  min-width: 40px;
}

.v-btn:not(.v-btn--round).v-size--large {
  min-width: 88px;
}

.v-btn.outlined {
  color: $primary-blue !important;
  background-color: white !important;
  border: 1px solid $primary-blue !important;
}

.v-btn--outlined, .v-btn--text {
  font-weight: normal;
}

tbody {
  tr:hover {
    background-color: transparent !important;
  }
}

.sbc-header {
  .v-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    text-transform: none !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: 0.875rem !important;
  }
}

// Text Inputs
.v-text-field--box .v-label--active,
.v-text-field--full-width .v-label--active,
.v-text-field--outline .v-label--active {
  transform: translateY(-8px) scale(0.75);
}

.registrationTypeAhead.theme--light.v-text-field--filled .v-input__control .v-input__slot {
  background-color: white;
}

// Dialogs
.v-dialog {
  margin: 2rem;

  .v-card {
    .v-card__title {
      padding: 1.25rem 1.5rem;
      color: $BCgovFontColorInverted;
      background: $BCgovBlue5;
      font-size: 1.5em;
      font-weight: 400;
    }

    .v-card__text {
      padding: 1.5rem !important;
      font-weight: 300;
    }

    .v-card__actions {
      padding: 1rem;
    }
  }
}

// Expansion Panels
.v-expansion-panel:before {
  box-shadow: none;
}

.v-expansion-panel.align-items-top {
  .v-expansion-panel-header__icon {
    align-self: flex-start;
    margin-top: 0;
  }
}

.v-expansion-panel-header.no-dropdown {
  .v-expansion-panel-header__icon {
    display: none;
  }
}

.top-tooltip,
.left-tooltip {
  margin-left: 0 !important;
}

.v-tooltip__content {
  width: 270px !important;
  background-color: RGB(73, 80, 87) !important;
  color: white !important;
  border-radius: 4px;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0;
}

.v-tooltip__content:after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  right: 100% !important;
  margin-top: -10px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.top-tooltip:after {
  top: 100% !important;
  left: 45% !important;
  margin-top: 0 !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-top: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.left-tooltip:after {
  top: 50% !important;
  left: 100% !important;
  margin-top: -10px !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-left: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.bottom-tooltip {
  width: 390px !important;
}

.bottom-tooltip:after {
  left: 45% !important;
  top: 0 !important;
  margin-top: -18px !important;
  border-top: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-breadcrumbs__divider {
  padding: 0 !important;
}

.v-data-table__selected {
  background: $blueSelected !important;
}

.v-select__selections {
  line-height: 1.5rem !important;
}
.v-simple-checkbox .theme--light.v-icon {
  color: $primary-blue;
}

.folio-edit-txt .v-messages {
  text-align: end !important;
}

.v-data-table__empty-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme--light.v-input input,
.theme--light.v-input textarea {
  color: $gray9;
}

.theme--light.v-application .v-input--selection-controls__ripple,
.theme--light.v-application .mdi-checkbox-blank-outline
 {
  color: $gray7 !important;
}

.v-application #remove-btn:disabled {
  color: #d3272c !important;
  caret-color: #d3272c !important;
  opacity: 0.4 !important;
}

.v-btn.edit-btn:disabled {
  color: $primary-blue !important;
  opacity: 0.4 !important;
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: $primary-blue !important;
  opacity: 0.4 !important;
  color: white !important;
}

.v-btn.v-btn--outlined:disabled {
  color: #1669bb !important;
  caret-color: #1669bb !important;
  border: thin solid currentColor;
  opacity: 0.4 !important;
}

.theme--light.v-btn.v-btn--disabled .v-icon,
.theme--light.v-btn.v-btn--disabled .v-btn__loading,
.theme--light.v-btn.v-btn--disabled .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading {
  color: #1669bb !important;
  opacity: 0.4 !important;
}

// list items
.theme--light.v-list-item .registration-list-item {
  font-size: 0.875rem;
  padding-left: 16px;
}

// needed for registration bar type ahead list, but can be added to scoped styling if needed
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover {
  background-color: $gray1;
  color: $primary-blue !important;
}

.theme--light.v-list-item--disabled .registration-list-header {
  color: $gray9;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}

.theme--light.v-divider {
  color: $gray3 !important;
  margin: 0 10px;
}

.v-list.actions__more-actions.v-list--disabled {
  color: #1669bb !important;
  opacity: 0.4 !important;
}

.theme--light.v-list-item .v-list-item__subtitle,
.theme--light.v-list-item .v-list-item__action-text,
.theme--light.v-list-item .v-list-item__subtitle .v-icon,
.v-list-item__action,
.v-list-item__action .v-icon,
.theme--light.v-list-item .v-list-item__subtitle, .theme--light.v-list-item .v-list-item__action-text,
.theme--light.v-list-item .v-list-item__subtitle .v-icon, .v-list-item__action, .v-list-item__action .v-icon
 {
  color: #1669bb !important;
}

.theme--light.v-text-field.v-input--is-disabled .v-input__slot::before {
  border-color: rgba(0, 0, 0, 0.42);
  border-image: none;
}

.v-data-table .v-data-table__wrapper table thead tr th.extra-indent {
  padding-left: 30px;
}

#search-history-table.v-data-table td,
.registering-table.v-data-table td,
.secured-party-table.v-data-table td,
.party-table.v-data-table td,
.debtor-table.v-data-table td,
.party-summary-table.v-data-table td,
.registration-table.v-data-table td {
  text-overflow: initial;
  white-space: initial;
  vertical-align: top;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.registration-table.v-data-table tr.filter-row td {
  padding-bottom: 0px !important;
}

.v-data-table.party-summary-table tr.v-data-table__empty-wrapper td {
  text-align: left;
  border-left: 3px solid #d3272c !important;
  padding-left: 35px;
  padding-top: 30px !important;
  height: 90px;
}

.collateral-table .v-data-table__wrapper > table > tbody > tr > td,
.collateral-table > .v-data-table__wrapper > table > tbody > tr > th,
.collateral-table > .v-data-table__wrapper > table > thead > tr > td,
.collateral-table > .v-data-table__wrapper > table > thead > tr > th,
.collateral-table > .v-data-table__wrapper > table > tfoot > tr > td,
.collateral-table > .v-data-table__wrapper > table > tfoot > tr > th {
  padding: 0 8px;
}

.collateral-table.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  padding-top: 16px;
}

.collateral-table.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th:first-child {
  padding-left: 16px;
}

.v-application .collateral-table .v-btn.edit-btn,
.v-application .registration-table .v-btn.edit-btn {
  padding: 0 2px;
}

.v-application .collateral-table .v-btn.actions__more-actions__btn,
.v-application .registration-table .v-btn.actions__more-actions__btn {
  padding: 0 2px;
  min-width: 20px;
}

.party-summary .mdi-domain,
.party-summary .mdi-account,
.party-summary .list-item__title,
.registering-table item__title {
  color: $gray9 !important;
}

.pcafooter {
  display: none;
}

.registration-date .v-date-picker-title__date {
  font-size: 20px;
}

.registration-date .v-date-picker-table--date th,
.registration-date .v-date-picker-table--date td {
  font-size: 9px !important;
}

.registration-date .v-picker--date {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.registration-table .v-data-table__wrapper {
  overflow-x: auto;
}

.registration-table tr:hover {
  background-color: transparent !important;
}

.registration-table th {
  font-size: 0.875rem !important;
}
.column-selection .v-list {
  z-index: 9999;
}

.column-selection .v-list-item [aria-selected='true'] {
  background-color: white !important;
  z-index: 99999;
}

.column-selection .v-list .v-list-item__title {
  color: $gray7;
  font-size: 0.875rem !important;
}

.column-selection .v-list .v-icon {
  color: $gray7;
  font-size: 1rem !important;
}

.column-selection .v-list-item__action:first-child {
  margin: 0 10px 0 0;
}

.column-selection .v-input__slot {
  height: 45px;
  padding-left: 12px;
}

.column-selection .v-input__icon .v-icon {
  color: $gray7;
  font-size: 1.25rem;
  padding: 12px 16px 0 0;
}
.column-selection .v-input__icon .mdi-menu-down {
  margin-top: -6px !important;
}

.registration-date .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):not(.v-btn--rounded)
{
  background-color: white;
  color: $primary-blue !important;
}

#registration-table.v-data-table > .v-data-table__wrapper > table {
  width: auto;
}


#registration-table.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, 
#registration-table.v-data-table > .v-data-table__wrapper > table > tbody > tr > th, 
#registration-table.v-data-table > .v-data-table__wrapper > table > thead > tr > td, 
#registration-table.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, 
#registration-table.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  padding: 0 5px;
}

#registration-table.v-data-table > .v-data-table__wrapper > table > thead > tr > th.registration-action,
#registration-table.v-data-table > .v-data-table__wrapper > table > tbody > tr > td.registration-action { 
  width:130px !important;
  padding-left: 15px !important;
}

#registration-table.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    padding-top:20px !important;
}

#registration-table.v-data-table > .v-data-table__wrapper > table > tbody > tr > td.actions-cell {
  width:130px !important;
  text-align: right !important;
  padding-right: 20px !important;
}

#registration-table.v-data-table > .v-data-table__wrapper div.v-select__selection {
  font-size: 0.875rem;
}

.column-selection .v-list-item--dense .v-list-item__title, 
.column-selection  .v-list--dense .v-list-item .v-list-item__title {
  line-height: 1.2;
}

.column-selection .v-list-item--dense, .column-selection .v-list--dense .v-list-item {
  min-height: 0px;
}

.column-selection div.v-input__control {
  background: white;
}

.column-selection .v-list--dense .v-list-item:hover,
.column-selection .v-list-item__content:hover,
.column-selection .v-list-item__action:hover
 {
  background-color: #f1f3f5;
}

#registration-table.v-data-table > .v-data-table__wrapper div.registrationTypeAhead {
  font-size: 0.875rem;
  .v-input__slot {
    background: rgba(0, 0, 0, 0.06);
  }
}

#registration-table.v-data-table > .v-data-table__wrapper div.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.v-list--dense .theme--light.v-list-item.v-list-item--active {
  min-height: 0;
}

#registration-table tr.filter-row td {
  position: sticky;
    top: 70px;
    background: white;
    z-index: 2;
}

#registration-table tr.filter-row .v-label {
  color: $gray7;
}

#registration-table .v-input__icon--clear, #registration-table {
  .v-icon.mdi-close, .v-icon.mdi-calendar {
    color: $primary-blue;
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.column-selection .v-list-item--link:before {
  background-color: white;
}

.v-list--dense .list-item {
  font-size: 0.875rem;
  padding: 0;
}

.registration-actions.theme--light .v-list-item--disabled .v-list-item__subtitle {
  opacity: 0.4;
}

.registration-actions .v-icon {
  margin-bottom: 2px;
}

.registration-actions .v-list-item {
  min-height: 36px;
}

.theme--light.v-list-item .v-list-item__mask {
  color: inherit;
}

.v-snack__wrapper.theme--dark {
  background-color: $gray7;
  margin-bottom: 140px;
  width: 500px;
}
.v-snack__wrapper .v-snack__content {
  font-size: 0.875rem;
  padding: 16px;
}
