<div class="section-title mt-3">
    {% if registrationType in ('TRANS', 'TRAND') %}New{% endif %} Registered Owner(s) Information
</div>
<div class="no-page-break mt-3">
    <span class="section-sub-title">Home Tenancy Type:</span>
    <span class="section-data">
        {% if addOwnerGroups is defined and addOwnerGroups[0].type == 'SOLE' %}
            Sole Owner
        {% elif addOwnerGroups is defined and addOwnerGroups[0].type == 'JOINT' and
                (addOwnerGroups[0].interestDenominator is not defined or addOwnerGroups[0].interestDenominator == '') %}
            Joint Tenants
        {% elif addOwnerGroups is defined %}
            Tenants in Common
        {% elif ownerGroups is defined and ownerGroups[0].type == 'SOLE' %}
            Sole Owner
        {% elif ownerGroups is defined and ownerGroups|length == 1 %}
            Joint Tenants
        {% elif ownerGroups is defined %}
            Tenants in Common
        {% endif %}
    </span>
</div>
{% if addOwnerGroups is defined and (addOwnerGroups[0].type == 'COMMON' or 
      (addOwnerGroups[0].interestDenominator is defined and addOwnerGroups[0].interestDenominator != '')) %}
    <div class="separator-section mt-3"></div>
{% elif ownerGroups is defined and ownerGroups|length > 1 %}
    <div class="separator-section mt-3"></div>
{% endif %}

{% if ownerGroups is defined %}
    {% for group in ownerGroups %}
        {% if ownerGroups|length > 1 %}
        <div class="mt-3">
            <span class="section-sub-title">Group {{ group.groupId }}:&nbsp;</span>
            {% if group.interest is defined and group.interest != '' %}
                <span class="section-data">Interest {{ group.interest|capitalize }}
                    {% if group.interestNumerator is defined and group.interestDenominator is defined %}
                        {{ group.interestNumerator }}/{{ group.interestDenominator }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% endif %}
        <table class="section-data section-data-table-new mt-4" role="presentation">
            {% for party in group.owners %}
            <tr class="no-page-break">
                <td class="col-33">
                    <div class="section-sub-title pr-6">
                        {% if party.organizationName is defined %}
                            {{ party.organizationName }}
                        {% elif party.individualName is defined %}
                            {{ party.individualName.last }},
                            {{ party.individualName.first }}
                            {% if party.individualName.middle is defined %}&nbsp;{{ party.individualName.middle }}{% endif %}
                        {% endif %}
                    </div>
                    {% if party.suffix is defined and party.suffix != '' %}
                    <div class="pt-2">{{ party.suffix|upper }}</div>
                    {% endif %} 
                </td>
                <td class="col-33">
                    <div class="section-sub-title">Address</div>
                    <div class="pt-2">{{ party.address.street }}</div>
                    <div>{{ party.address.streetAdditional }}</div>
                    <div>{{ party.address.city }} {{ party.address.region }}</div>
                    <div>
                        {% if party.address.postalCode is defined and party.address.postalCode != '' %}
                            {{ party.address.postalCode }}&nbsp;&nbsp; 
                        {% endif %}
                        {{ party.address.country}}
                    </div>
                    {% if party.address.deliveryInstructions is defined and party.address.deliveryInstructions != '' %}
                        <div class="italic pt-2">
                            {{ party.address.deliveryInstructions }}
                        </div>
                    {% endif %}
                </td>
                <td class="col-33"></td>
            </tr>
            {% if not loop.last %}
                <tr><td colspan="3"><div class="mt-4"></div></td></tr>            
            {% endif %}
        {% endfor %}
        </table> 
        {% if not loop.last %}
            <div class="separator-section mt-4 mb-1"></div>
         {% endif %}
    {% endfor %}
{% elif addOwnerGroups is defined %}
    {% for group in addOwnerGroups %}
        {% if group.type == 'COMMON' or (group.interestNumerator is defined and group.interestDenominator is defined and
              group.interestNumerator > 0 and group.interestDenominator > 0) %}
        <div class="mt-3">
            <span class="section-sub-title">Group {{ group.groupId }}:&nbsp;</span>
            {% if group.interest is defined and group.interest != '' %}
                <span class="section-data">Interest {{ group.interest|capitalize }}
                    {% if group.interestNumerator is defined and group.interestDenominator is defined %}
                        {{ group.interestNumerator }}/{{ group.interestDenominator }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% endif %}
    <table class="section-data section-data-table-new mt-4" role="presentation">
        {% for party in group.owners %}
        <tr class="no-page-break">
            <td class="col-33">
                <div class="section-sub-title pr-6">
                    {% if party.organizationName is defined %}
                        {{ party.organizationName }}
                    {% elif party.individualName is defined %}
                        {{ party.individualName.last }},
                        {{ party.individualName.first }}
                        {% if party.individualName.middle is defined %}&nbsp;{{ party.individualName.middle }}{% endif %}
                    {% endif %}
                </div>
                {% if party.suffix is defined and party.suffix != '' %}
                <div class="pt-2">{{ party.suffix|upper }}</div>
                {% endif %} 
            </td>
            <td class="col-33">
                <div class="section-sub-title">Address</div>
                <div class="pt-2">{{ party.address.street }}</div>
                <div>{{ party.address.streetAdditional }}</div>
                <div>{{ party.address.city }} {{ party.address.region }}</div>
                <div>
                    {% if party.address.postalCode is defined and party.address.postalCode != '' %}
                        {{ party.address.postalCode }}&nbsp;&nbsp; 
                    {% endif %}
                    {{ party.address.country}}
                </div>
                {% if party.address.deliveryInstructions is defined and party.address.deliveryInstructions != '' %}
                    <div class="italic pt-2">
                        {{ party.address.deliveryInstructions }}
                    </div>
                {% endif %}
            </td>
            <td class="col-33"></td>
        </tr>
        {% if not loop.last %}
            <tr><td colspan="3"><div class="mt-4"></div></td></tr>            
        {% endif %}
    {% endfor %}
    </table> 
    {% if not loop.last %}
        <div class="separator-section mt-4 mb-1"></div>
    {% endif %}
    {% endfor %}
 {% endif %}
