{% if submittingParty is defined  %}
<div class="no-page-break">
    {% if not (registrationType == 'EXEMPTION_RES' and usergroup is defined and usergroup != 'ppr_staff') %}
        {% if registrationType != 'PERMIT' %}
            <div class="separator mt-5"></div>
        {% endif %}
    {% endif %}
    <div class="section-title mt-3">Submitting Party Information</div>
    <table class="section-data section-data-table-sp mt-4" role="presentation">
        <tr class="no-page-break">
            <td class="col-33">
                <div class="section-sub-title">
                    {% if submittingParty.businessName is defined %}
                        {{ submittingParty.businessName }}
                    {% elif submittingParty.personName is defined %}
                        {{ submittingParty.personName.last }},
                        {{ submittingParty.personName.first }}
                        {% if submittingParty.personName.middle is defined %}
                            &nbsp;{{ submittingParty.personName.middle }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="pt-2">
                    {% if submittingParty.emailAddress is defined and submittingParty.emailAddress != '' %}
                        {{ submittingParty.emailAddress }}
                    {% else %}
                        (EMAIL NOT ENTERED)
                    {% endif %}
                </div>
            </td>
            <td class="col-33">
                <div class="section-sub-title">Address</div>
                <div class="pt-2">{{ submittingParty.address.street }}</div>
                <div>{{ submittingParty.address.streetAdditional }}</div>
                <div>{{ submittingParty.address.city }} 
                     {{ submittingParty.address.region }}</div>
                <div>{{ submittingParty.address.postalCode }} 
                     {{ submittingParty.address.country }}</div>
            </td>
            <td class="col-33">
                <div class="section-sub-title">Phone Number</div>
                <div class="pt-2">
                    {% if submittingParty.phoneNumber is defined and submittingParty.phoneNumber != '' %}
                        {{ submittingParty.phoneNumber }}
                        {% if submittingParty.phoneExtension is defined and submittingParty.phoneExtension != '' %}
                            <div>EXT {{ submittingParty.phoneExtension }}</div>
                        {% endif %}
                    {% else  %}
                        (NOT ENTERED)
                    {% endif %}
                </div>
            </td>
         </tr>
    </table>

    <div class="mt-5">
        <span class="section-sub-title">Affirmed By:</span> 
        <span class="section-data pl-1">
            {% if meta_account_id == 'ppr_staff' %}
                BC REGISTRIES STAFF
            {% elif affirmByName is defined and affirmByName != '' %} 
                {{ affirmByName }}
            {% else %}
                N/A
            {% endif %}
        </span>
    </div>

</div>
{% endif %}
