<div class="container pt-4 no-page-break">

    <div class="statement-title">{{change.changeType}}</div>
    <div class="separator-statement mt-1"></div>

    <table class="no-page-break section-data statement-table mt-4" role="presentation">
        <tr>
            <td class="section-sub-title">Registration Date and Time:</td>
            <td>{{change.createDateTime}}</td>
        </tr>
        <tr>
            <td class="section-sub-title">Registration Number:</td>
            <td>{{change.changeRegistrationNumber}}</td>
        </tr>
    </table>
</div>

{% if change.addVehicleCollateral is defined or change.deleteVehicleCollateral is defined %}
<div class="container pt-4">

    [[registration/vehicleCollateral.html]]

</div>
{% endif %}

{% if change.addGeneralCollateral is defined or change.deleteGeneralCollateral is defined %}
<div class="container pt-4">

    [[registration/generalCollateral.html]]

</div>
{% endif %}

{% if change.addDebtors is defined or change.deleteDebtors is defined %}
<div class="container pt-4">

    [[registration/debtors.html]]

</div>
{% endif %}


{% if change.addSecuredParties is defined or change.deleteSecuredParties is defined %}
<div class="container pt-4">

    [[registration/securedParties.html]]

</div>
{% endif %}

{% if change.addVehicleCollateral is defined or change.deleteVehicleCollateral is defined or
    change.addGeneralCollateral is defined or change.deleteGeneralCollateral is defined %}
<div class="container pt-4">
    <div class="section-data">Other vehicle or general collateral/proceeds description exists on this registration.  
        To obtain complete details, it will be necessary to request a registration number search.
    </div>
</div>
{% endif %}

<div class="container pt-4">

  [[registration/registeringParty.html]]

</div>

<div class="mt-4"></div> 
