<div class="no-page-break">
    {% if debtors is defined and change is not defined %}
        <div class="separator mt-5"></div>
    {% endif %}
        <div class="section-title mt-3">
            {% if debtors is defined and change is not defined and type == 'SG' %}
                Debtor (Seller) Information
            {% else %}
                Debtor Information
            {% endif %}
        </div>
    {% if debtors is defined and change is not defined %}
        <table class="section-data section-data-table-new mt-4" role="presentation">
        {% for party in debtors %}
            <tr class="no-page-break">
                <td class="col-40">
                    <div class="section-sub-title">
                        {% if party.businessName is defined %}
                            {{ party.businessName }}
                        {% elif party.personName is defined %}
                            {{ party.personName.last }},
                            {{ party.personName.first }}
                            {% if party.personName.middle is defined %}&nbsp;{{ party.personName.middle }}{% endif %}
                        {% endif %}
                    </div>
                </td>
                <td class="col-40">
                    <div class="section-sub-title">Address</div>
                    <div class="pt-2">{{ party.address.street }}</div>
                    <div>{{ party.address.streetAdditional }}</div>
                    <div>{{ party.address.city }} {{ party.address.region }}</div>
                    <div>{{ party.address.postalCode }} {{ party.address.country }}</div>
                </td>
                <td class="col-20">
                  {% if party.personName is defined %}
                    <div class="section-sub-title">Birthdate</div>
                    <div class="pt-2">{% if party.birthDate is defined %}{{ party.birthDate }}{% endif %}</div>
                  {% endif %}
                </td>
            </tr>
            {% if not loop.last %}
                <tr><td colspan="3"><div class="separator-table-row mt-3 mb-3"></div></td></tr>            
            {% endif %}
        {% endfor %}
    </table>    
    {% elif change is not defined and (addDebtors is defined or deleteDebtors is defined) %}
        <table class="section-data section-data-table-new mt-4" role="presentation">
        {% if addDebtors is defined %}
            {% for party in addDebtors %}
                <tr class="no-page-break">
                    <td class="col-40">
                        <div class="section-sub-title">
                            {% if party.businessName is defined %}
                                {{ party.businessName }}
                            {% elif party.personName is defined %}
                                {{ party.personName.last }},
                                {{ party.personName.first }}
                                {% if party.personName.middle is defined %}&nbsp;{{ party.personName.middle }}{% endif %}
                            {% endif %}
                        </div>
                        {% if party.former_name is defined and party.former_name != '' %}
                            <div><span class="section-data-italic">(Formerly&nbsp;{{ party.former_name }})</span></div>
                        {% endif %}
                        {% if party.name_change is defined or party.address_change is defined %}
                            {% if party.name_change is defined %}
                               <div class="pt-1"><span class="label">NAME CHANGED</span></div>
                            {% endif %}
                            {% if party.address_change is defined %}
                                <div class="pt-1"><span class="label">ADDRESS CHANGED</span></div>
                            {% endif %}
                        {% else %}
                            <div class="pt-1"><span class="label">ADDED</span></div>
                        {% endif %}
                    </td>
                    <td class="col-40">
                        <div class="section-sub-title">Address</div>
                        <div class="pt-2">{{ party.address.street }}</div>
                        <div>{{ party.address.streetAdditional }}</div>
                        <div>{{ party.address.city }} {{ party.address.region }}</div>
                        <div>{{ party.address.postalCode }} {{ party.address.country }}</div>
                    </td>
                    <td class="col-20">
                      {% if party.personName is defined %}
                        <div class="section-sub-title">Birthdate</div>
                        <div class="pt-2">{% if party.birthDate is defined %}{{ party.birthDate }}{% endif %}</div>
                      {% endif %}
                    </td>
                </tr>
                {% if not loop.last %}
                    <tr><td colspan="3"><div class="separator-table-row mt-3 mb-3"></div></td></tr>            
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if deleteDebtors is defined %}
            {% for party in deleteDebtors %}
                {% if party.edit is not defined %}
                <tr class="no-page-break">
                    <td class="col-40">
                        <div class="section-sub-title">
                            {% if party.businessName is defined %}
                                {{ party.businessName }}
                            {% elif party.personName is defined %}
                                {{ party.personName.last }},
                                {{ party.personName.first }}
                                {% if party.personName.middle is defined %}&nbsp;{{ party.personName.middle }}{% endif %}
                            {% endif %}
                        </div>
                        <div class="pt-1"><span class="label">DELETED</span></div>
                    </td>
                    <td class="col-40">
                        <div class="section-sub-title">Address</div>
                        <div class="pt-2">{{ party.address.street }}</div>
                        <div>{{ party.address.streetAdditional }}</div>
                        <div>{{ party.address.city }} {{ party.address.region }}</div>
                        <div>{{ party.address.postalCode }} {{ party.address.country }}</div>
                    </td>
                    <td class="col-20">
                      {% if party.personName is defined %}
                        <div class="section-sub-title">Birthdate</div>
                        <div class="pt-2">{% if party.birthDate is defined %}{{ party.birthDate }}{% endif %}</div>
                      {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if not loop.last %}
                    <tr><td colspan="3"><div class="separator-table-row mt-3 mb-3"></div></td></tr>            
                {% endif %}                
            {% endfor %}
        {% endif %}
        </table>
    {% elif change is defined and (change.addDebtors is defined or change.deleteDebtors is defined) %}
        <table class="section-data section-data-table-new mt-4" role="presentation">
        {% if change.addDebtors is defined %}
            {% for party in change.addDebtors %}
                <tr class="no-page-break">
                    <td class="col-40">
                        <div class="section-sub-title">
                            {% if party.businessName is defined %}
                                {{ party.businessName }}
                            {% elif party.personName is defined %}
                                {{ party.personName.last }},
                                {{ party.personName.first }}
                                {% if party.personName.middle is defined %}&nbsp;{{ party.personName.middle }}{% endif %}
                            {% endif %}
                        </div>
                        {% if party.former_name is defined and party.former_name != '' %}
                            <div><span class="section-data-italic">(Formerly&nbsp;{{ party.former_name }})</span></div>
                        {% endif %}
                        {% if party.name_change is defined or party.address_change is defined %}
                            {% if party.name_change is defined %}
                               <div class="pt-1"><span class="label">NAME CHANGED</span></div>
                            {% endif %}
                            {% if party.address_change is defined %}
                                <div class="pt-1"><span class="label">ADDRESS CHANGED</span></div>
                            {% endif %}
                        {% else %}
                            <div class="pt-1"><span class="label">ADDED</span></div>
                        {% endif %}
                    </td>
                    <td class="col-40">
                        <div class="section-sub-title">Address</div>
                        <div class="pt-2">{{ party.address.street }}</div>
                        <div>{{ party.address.streetAdditional }}</div>
                        <div>{{ party.address.city }} {{ party.address.region }}</div>
                        <div>{{ party.address.postalCode }} {{ party.address.country }}</div>
                    </td>
                    <td class="col-20">
                      {% if party.personName is defined %}
                        <div class="section-sub-title">Birthdate</div>
                        <div class="pt-2">{% if party.birthDate is defined %}{{ party.birthDate }}{% endif %}</div>
                      {% endif %}
                    </td>
                </tr>
                {% if not loop.last %}
                    <tr><td colspan="3"><div class="separator-table-row mt-3 mb-3"></div></td></tr>            
                {% endif %}                
            {% endfor %}
        {% endif %}
        {% if change.deleteDebtors is defined %}
            {% for party in change.deleteDebtors %}
                {% if party.edit is not defined %}
                <tr class="no-page-break">
                    <td class="col-40">
                        <div class="section-sub-title">
                            {% if party.businessName is defined %}
                                {{ party.businessName }}
                            {% elif party.personName is defined %}
                                {{ party.personName.last }},
                                {{ party.personName.first }}
                                {% if party.personName.middle is defined %}&nbsp;{{ party.personName.middle }}{% endif %}
                            {% endif %}
                        </div>
                        <div class="pt-1"><span class="label">DELETED</span></div>
                    </td>
                    <td class="col-40">
                        <div class="section-sub-title">Address</div>
                        <div class="pt-2">{{ party.address.street }}</div>
                        <div>{{ party.address.streetAdditional }}</div>
                        <div>{{ party.address.city }} {{ party.address.region }}</div>
                        <div>{{ party.address.postalCode }} {{ party.address.country }}</div>
                    </td>
                    <td class="col-20">
                      {% if party.personName is defined %}
                        <div class="section-sub-title">Birthdate</div>
                        <div class="pt-2">{% if party.birthDate is defined %}{{ party.birthDate }}{% endif %}</div>
                      {% endif %}
                    </td>
                </tr>
                {% endif %}

                {% if not loop.last %}
                    <tr><td colspan="3"><div class="separator-table-row mt-3 mb-3"></div></td></tr>            
                {% endif %}

            {% endfor %}
        {% endif %}
        </table>
    {% endif %}
</div>
