<div class="no-page-break">
   {% if generalCollateral is defined and change is not defined %}
      <div class="separator mt-5"></div>
   {% endif %}
   <div class="section-title mt-3">General Collateral</div>

{% if generalCollateral is defined and change is not defined %}
   {% for collateral in generalCollateral %}
      {% if collateral.addedDateTime is defined and collateral.addedDateTime == createDateTime %}
         <div class="section-data-bold pt-3 pb-2">Base Registration General Collateral:</div>
      {% else %}
         <div class="section-data-bold pt-3 pb-2">{{ collateral.addedDateTime }}</div>
      {% endif %}
      {% if collateral.description is defined %}
         <div class="section-data page-break-inside : auto">
            {% set list1 = collateral.description.split('\n') %}
            {% for item in list1 %}
               {{ item }}
               {% if not loop.last %}
                  <br/>
               {% endif %}
            {% endfor %}
         </div>
      {% else %}
         {% if collateral.descriptionDelete is defined %}
            {% if collateral.descriptionAdd is defined %}
               <div class="pt-3 pb-1"><span class="label">DELETED</span></div>
            {% else %}
               <div class="pb-1"><span class="label">DELETED</span></div>
            {% endif %}
            <div class="section-data page-break-inside : auto">
               {% set list1 = collateral.descriptionDelete.split('\n') %}
               {% for item in list1 %}
                  {{ item }}
                  {% if not loop.last %}
                     <br/>
                  {% endif %}
               {% endfor %}
            </div>
         {% endif %}
         {% if collateral.descriptionAdd is defined %}
            <div class="pb-1"><span class="label">ADDED</span></div>
            <div class="section-data page-break-inside : auto">
               {% set list1 = collateral.descriptionAdd.split('\n') %}
               {% for item in list1 %}
                  {{ item }}
                  {% if not loop.last %}
                     <br/>
                  {% endif %}
               {% endfor %}   
            </div>
         {% endif %}
      {% endif %}
      {% if not loop.last %}
         <div class="separator-section mt-4 mb-1"></div>
      {% endif %}
   {% endfor %}
{% elif change is not defined and (addGeneralCollateral is defined or deleteGeneralCollateral is defined) %}
   <div class="section-data-bold pt-3 pb-2">{{ createDateTime }}</div>
   {% if deleteGeneralCollateral is defined %}
      {% for collateral in deleteGeneralCollateral %}
         {% if collateral.edit is not defined %}
            <div class="pt-3 pb-1"><span class="label">DELETED</span></div>
            <div class="section-data page-break-inside : auto">
               {% set list1 = collateral.description.split('\n') %}
               {% for item in list1 %}
                  {{ item }}
                  {% if not loop.last %}
                     <br/>
                  {% endif %}
               {% endfor %}
               </div>
            {% if loop.last == false  %}
               <div class="separator-section mt-4 mb-1"></div>
            {% endif %}
         {% endif %}
      {% endfor %}
   {% endif %}
   {% if addGeneralCollateral is defined %}
      {% for collateral in addGeneralCollateral %}
         <div class="pt-3 pb-1"><span class="label">{% if collateral.edit is not defined %}ADDED{% else %}AMENDED{% endif %}</span></div>
         <div class="section-data page-break-inside : auto">
            {% set list1 = collateral.description.split('\n') %}
            {% for item in list1 %}
               {{ item }}
               {% if not loop.last %}
                  <br/>
               {% endif %}
            {% endfor %}
        </div>
         {% if loop.last == false  %}
            <div class="separator-section mt-4 mb-1"></div>
         {% endif %}
      {% endfor %}
   {% endif %}
{% elif change is defined and (change.addGeneralCollateral is defined or change.deleteGeneralCollateral is defined) %}
   <div class="section-data-bold pt-3 pb-2">{{ change.createDateTime }}</div>
   {% if change.deleteGeneralCollateral is defined %}
      {% for collateral in change.deleteGeneralCollateral %}
         {% if collateral.edit is not defined %}
            <div class="pt-3 pb-1"><span class="label">DELETED</span></div>
            <div class="section-data page-break-inside : auto">
               {% set list1 = collateral.description.split('\n') %}
               {% for item in list1 %}
                  {{ item }}
                  {% if not loop.last %}
                     <br/>
                  {% endif %}
               {% endfor %}
               </div>
            {% if loop.last == false  %}
               <div class="separator-section mt-4 mb-1"></div>
            {% endif %}
         {% endif %}
      {% endfor %}
   {% endif %}
   {% if change.addGeneralCollateral is defined %}
      {% for collateral in change.addGeneralCollateral %}
         <div class="pt-3 pb-1"><span class="label">{% if collateral.edit is not defined %}ADDED{% else %}AMENDED{% endif %}</span></div>
         <div class="section-data page-break-inside : auto">
            {% set list1 = collateral.description.split('\n') %}
            {% for item in list1 %}
               {{ item }}
               {% if not loop.last %}
                  <br/>
               {% endif %}
            {% endfor %}
         </div>
         {% if loop.last == false  %}
            <div class="separator-section mt-4 mb-1"></div>
         {% endif %}
      {% endfor %}
   {% endif %}
{% else %}
   <div class="section-data pt-3">None.</div>
{% endif %}
</div>
