{% if registeringParty is defined and change is not defined  %}
<div class="no-page-break">
    <div class="separator mt-5"></div>
    <div class="section-title mt-3">Registering Party Information</div>
    <table class="section-data section-data-table mt-4" role="presentation">
        <tr class="no-page-break">
            <td class="col-33">
                <div class="section-sub-title">
                    {% if registeringParty.businessName is defined %}
                        {{ registeringParty.businessName }}
                    {% elif registeringParty.personName is defined %}
                        {{ registeringParty.personName.last }},
                        {{ registeringParty.personName.first }}
                        {% if registeringParty.personName.middle is defined %}
                            &nbsp;{{ registeringParty.personName.middle }}
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            <td class="col-33">
                <div class="section-sub-title">Address</div>
                <div class="pt-2">{{ registeringParty.address.street }}</div>
                <div>{{ registeringParty.address.streetAdditional }}</div>
                <div>{{ registeringParty.address.city }} 
                     {{ registeringParty.address.region }}</div>
                <div>{{ registeringParty.address.postalCode }} 
                     {{ registeringParty.address.country }}</div>
            </td>
            <td class="col-33">
            </td>
         </tr>
    </table>
</div>
{% elif change.registeringParty is defined %}
<div class="no-page-break">
    <div class="section-title mt-3">Registering Party Information</div>
    <table class="section-data section-data-table mt-4" role="presentation">
        <tr class="no-page-break">
            <td class="col-33">
                <div class="section-sub-title">
                    {% if change.registeringParty.businessName is defined %}
                        {{ change.registeringParty.businessName }}
                    {% elif change.registeringParty.personName is defined %}
                        {{ change.registeringParty.personName.last }},
                        {{ change.registeringParty.personName.first }}
                        {% if change.registeringParty.personName.middle is defined %}
                            &nbsp;{{ change.registeringParty.personName.middle }}
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            <td class="col-33">
                <div class="section-sub-title">Address</div>
                <div class="pt-2">{{ change.registeringParty.address.street }}</div>
                <div>{{ change.registeringParty.address.streetAdditional }}</div>
                <div>{{ change.registeringParty.address.city }} 
                     {{ change.registeringParty.address.region }}</div>
                <div>{{ change.registeringParty.address.postalCode }} 
                     {{ change.registeringParty.address.country }}</div>
            </td>
            <td class="col-33">
            </td>
         </tr>
    </table>
</div>
{% endif %}
