<div class="container pt-4 no-page-break">

    <div class="section-title mt-4">Renewal</div>

    <table class="business-details-table" role="presentation">
        <tr>
            <td>
                <div class="bold pt-2">Registration Date and Time:</div>
                <div class="bold pt-2">Registration Number:</div>
                <div class="bold pt-2">Registration Life:</div>
                <div class="bold pt-2">New Expiration Date and Time:</div>
            </td>
            <td>
                <div class="pt-2">{{change.createDateTime}}</div>
                <div class="pt-2">{{change.renewalRegistrationNumber}}</div>
                <div class="pt-2">
                    {% if change.lifeInfinite is defined and change.lifeInfinite %}
                        Infinite
                    {% elif change.lifeYears is defined %}
                        {{change.lifeYears}} {% if change.lifeYears > 1 %} Years {% else %} Year {% endif %}
                    {% endif %}
                </div>
                <div class="pt-2">
                    {% if change.lifeInfinite is defined and change.lifeInfinite %}
                        Never
                    {% else %}
                        {{change.expiryDate}}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height:5px"></td>
        </tr>
        <tr>
            <td>
                <div class="bold pt-2">Base Registration Type:</div>
                <div class="bold pt-2">Base Registration Number:</div>
                <div class="bold pt-2">Base Registration Date and Time:</div>
            </td>
            <td>
                <div class="pt-2">{{registrationDescription}}</div>
                <div class="pt-2">{{baseRegistrationNumber }}</div>
                <div class="pt-2">{{createDateTime}}</div>
            </td>
        </tr>
    </table>
</div>

{% if change.courtOrderInformation is defined %}
<div class="container pt-4">

    [[registration/courtOrderInformation.html]]

</div>
{% endif %}

<div class="container pt-4">

  [[registration/registeringParty.html]]

</div>

<div class="separator mt-4"></div> 
