<div class="no-page-break">
   {% if vehicleCollateral is defined and change is not defined %}
      <div class="separator mt-5"></div>
   {% endif %}
   <div class="section-title mt-3">Vehicle Collateral</div>

   {% if vehicleCollateral is defined and change is not defined %}
      {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
         <table class="vehicle-collateral-table-mh mt-4" role="presentation">
      {% else %}
         <table class="vehicle-collateral-table mt-4" role="presentation">
      {% endif %}
            
         <tr class="vehicle-collateral-table-header no-page-break">
            <td class="top-align">Type</td>
            <td class="top-align">Year</td>
            <td class="top-align">Make/Model</td>
            <td class="top-align">Serial/VIN/DOT Number</td>
            {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
               <td class="top-align">MHR Number</td>
            {% endif %}
         </tr>
         {% for collateral in vehicleCollateral %}
            <tr class="no-page-break">
               <td>{{collateral.type}}</td>
               <td>{{collateral.year}}</td>
               <td>{{collateral.make}} 
                  {% if collateral.model is defined %} / {{collateral.model}}{% endif %}</td>
               <td>{{collateral.serialNumber}}</td>
               {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
                  <td>{% if collateral.manufacturedHomeRegistrationNumber is defined %}
                     {{collateral.manufacturedHomeRegistrationNumber}}
                  {% endif %}
                  </td>
               {% endif %}
            </tr>
         {% endfor %}
      </table>

   {% elif change is not defined and  (addVehicleCollateral is defined or deleteVehicleCollateral is defined) %}
      {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
            <table class="vehicle-collateral-table-mh mt-4" role="presentation">
         {% else %}
            <table class="vehicle-collateral-table mt-4" role="presentation">
         {% endif %}
            
         <tr class="vehicle-collateral-table-header no-page-break">
            <td class="top-align">Type</td>
            <td class="top-align">Year</td>
            <td class="top-align">Make/Model</td>
            <td class="top-align">Serial/VIN/DOT Number</td>
            {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
               <td class="top-align">MHR Number</td>
            {% endif %}
         </tr>
      {% if addVehicleCollateral is defined %}
         {% for collateral in addVehicleCollateral %}
            <tr class="no-page-break">
               <td>
                  {{collateral.type}}
                  <div class="mb-1"><span class="label">{% if collateral.edit is not defined %}ADDED{% else %}EDITED{% endif %}</span></div>
               </td>
               <td>{{collateral.year}}</td>
               <td>{{collateral.make}} 
                  {% if collateral.model is defined %} / {{collateral.model}}{% endif %}</td>
               <td>{{collateral.serialNumber}}</td>
               {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
                  <td>{% if collateral.manufacturedHomeRegistrationNumber is defined %}
                        {{collateral.manufacturedHomeRegistrationNumber}}
                     {% endif %}
                  </td>
               {% endif %}
            </tr>
         {% endfor %}
      {% endif %}
      {% if deleteVehicleCollateral is defined %}
         {% for collateral in deleteVehicleCollateral %}
            {% if collateral.edit is not defined %}
            <tr class="no-page-break">
               <td>
                  {{collateral.type}} 
                  <div class="mb-1"><span class="label">REMOVED</span></div>
               </td>
               <td>{{collateral.year}}</td>
               <td>{{collateral.make}} 
                  {% if collateral.model is defined %} / {{collateral.model}}{% endif %}</td>
               <td>{{collateral.serialNumber}}</td>
               {% if mhCollateralCount is defined and mhCollateralCount > 0 %}
                  <td>{% if collateral.manufacturedHomeRegistrationNumber is defined %}
                        {{collateral.manufacturedHomeRegistrationNumber}}
                     {% endif %}
                  </td>
               {% endif %}
            </tr>
            {% endif %}
         {% endfor %}
      {% endif %}
      </table>
   {% elif change is defined and (change.addVehicleCollateral is defined or change.deleteVehicleCollateral is defined) %}
      {% if change.mhCollateralCount is defined and change.mhCollateralCount > 0 %}
            <table class="vehicle-collateral-table-mh mt-4" role="presentation">
         {% else %}
            <table class="vehicle-collateral-table mt-4" role="presentation">
         {% endif %}
            
         <tr class="vehicle-collateral-table-header no-page-break">
            <td class="top-align">Type</td>
            <td class="top-align">Year</td>
            <td class="top-align">Make/Model</td>
            <td class="top-align">Serial/VIN/DOT Number</td>
            {% if change.mhCollateralCount is defined and change.mhCollateralCount > 0 %}
               <td class="top-align">MHR Number</td>
            {% endif %}
         </tr>
      {% if change.addVehicleCollateral is defined %}
         {% for collateral in change.addVehicleCollateral %}
            <tr class="no-page-break">
               <td>
                  {{collateral.type}}
                  <div class="mb-1"><span class="label">{% if collateral.edit is not defined %}ADDED{% else %}EDITED{% endif %}</span></div>
               </td>
               <td>{{collateral.year}}</td>
               <td>{{collateral.make}} 
                  {% if collateral.model is defined %} / {{collateral.model}}{% endif %}</td>
               <td>{{collateral.serialNumber}}</td>
               {% if change.mhCollateralCount is defined and change.mhCollateralCount > 0 %}
                  <td>{% if collateral.manufacturedHomeRegistrationNumber is defined %}
                        {{collateral.manufacturedHomeRegistrationNumber}}
                     {% endif %}
                  </td>
               {% endif %}
            </tr>
         {% endfor %}
      {% endif %}
      {% if change.deleteVehicleCollateral is defined %}
         {% for collateral in change.deleteVehicleCollateral %}
            {% if collateral.edit is not defined %}
            <tr class="no-page-break">
               <td>
                  {{collateral.type}} 
                  <div class="mb-1"><span class="label">REMOVED</span></div>
               </td>
               <td>{{collateral.year}}</td>
               <td>{{collateral.make}} 
                  {% if collateral.model is defined %} / {{collateral.model}}{% endif %}</td>
               <td>{{collateral.serialNumber}}</td>
               {% if change.mhCollateralCount is defined and change.mhCollateralCount > 0 %}
                  <td>{% if collateral.manufacturedHomeRegistrationNumber is defined %}
                        {{collateral.manufacturedHomeRegistrationNumber}}
                     {% endif %}
                  </td>
               {% endif %}
            </tr>
            {% endif %}
         {% endfor %}
      {% endif %}
      </table>
   {% else %}
      <div class="section-data">None</div>
   {% endif %}
</div>
