[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="registration-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Home Registration Status:</td>
        <td>{{status|title}}</td>
      </tr>
      <tr>
        <td>Document Registration Number:</td>
        <td>{{documentRegistrationNumber}}</td>
      </tr>
      <tr>
        <td>Document Registration Date and Time:</td>
        <td>{{createDateTime}}</td>
      </tr>

      {% if registrationType == 'EXEMPTION_NON_RES' %}      
        <tr>
          <td>
            {% if note.destroyed %}
              Date Home was Destroyed:
            {% else %}
              Date Home was Converted:
            {% endif %}
          </td>
          <td>
            {% if note.expiryDateTime is defined and note.expiryDateTime != '' %}
              {{note.expiryDateTime}}
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <tr>
        <td>Folio Number:</td>
        <td>
            {% if clientReferenceId is defined and clientReferenceId != '' %}
              {{clientReferenceId}}
            {% else %}
              N/A
            {% endif %}
        </td>
      </tr>
    </table>
  </div>


  <div class="container pt-4">

    {% if registrationType == 'EXEMPTION_NON_RES' %}
      <div class="section-title mt-5">Declaration Details</div>
      <div class="section-data pt-3">
        Reason for the Non-Residential Exemption: 
        {% if note.destroyed %}Destroyed{% else %}Converted{% endif %} - 
        {% if note.nonResidentialReason == 'OTHER' and note.nonResidentialOther is defined %}
            {{ note.nonResidentialOther }}
        {% else %}
            {{ note.nonResidentialReason|title }}
        {% endif %}
      </div>
    {% endif %}

    {% if usergroup is defined and usergroup == 'ppr_staff' %}
      <div class="section-title mt-5">Remarks</div>
      {% if note is defined and note.remarks is defined and note.remarks != '' %}
        <div class="section-data pt-3">{{note.remarks|safe}}</div>
      {% else %}
        <div class="section-data pt-3">N/A</div>
      {% endif %}
    {% endif %}

    [[registration/submittingParty.html]]

    <div class="separator mt-5"></div>
    <div class="section-data mt-3">
      {% if registrationType == 'EXEMPTION_NON_RES' %}
        Exempted pursuant to section 21 of the Manufactured Home Act by an order of the Registrar of the Manufactured Home Registry dated {{createDateTime}} 
        on Document Registration Number {{documentRegistrationNumber}}.
      {% else %}
        Pursuant to section 21 of the Manufactured Home Act, this manufactured home is exempted from the act except section 32 by an order of the Registrar 
        dated {{createDateTime}} on Document Registration Number {{documentRegistrationNumber}}.
      {% endif %}  
    </div>
    {% if registrationType == 'EXEMPTION_NON_RES' %}
    <div class="section-data mt-3">
      If this manufactured home is returned to use as residential accommodation, or a person buying it wishes to reflect their name on the ownership in 
      the Manufactured Home Registry, this exemption order expires. The manufactured home will be subject to the Manufactured Home Act, and the 
      registration of this manufactured home must be restored.
    </div>
    {% endif %}  


    <p style="page-break-before: always" ></p>
    <div class="no-page-break">
      <div class="section-title mt-5">Exemption Order</div>
      <div class="section-data mt-3">
        {% if registrationType == 'EXEMPTION_NON_RES' %}
          Exempted pursuant to section 21 of the Manufactured Home Act by an order of the Registrar of the Manufactured Home Registry dated {{createDateTime}} 
          on Document Registration Number {{documentRegistrationNumber}}.
        {% else %}
          <span class="bold">I ORDER,</span> under section 21 of the Manufactured Home Act, that the manufactured home registered 
            under number {{mhrNumber}} be exempt from the Act except section 32. The exemption was processed under document registration number {{documentRegistrationNumber}}.
        {% endif %}
      </div>
      <div class="section-data mt-3">
        {% if registrationType == 'EXEMPTION_NON_RES' %}
          If this manufactured home is returned to use as residential accommodation, or a person buying it wishes to reflect their name on the ownership 
          in the Manufactured Home Registry, this exemption order expires. The manufactured home will be subject to the Manufactured Home Act, and the 
          registration of this manufactured home must be restored.         
        {% else %}
          If this manufactured home is to be moved from the land noted below, or a person buying it wishes to reflect their name on the 
          ownership registered in the Manufactured Home Registry, this order expires. The owner must notify me, as prescribed under the 
          Manufactured Home Act and Regulations, and the registration of this manufactured home must be restored. 
        {% endif %}        
      </div>

      {% if registrationType == 'EXEMPTION_NON_RES' %}
        <div class="section-data mt-3">
          Reason for the Non-Residential Exemption: 
          {% if note.destroyed %}Destroyed{% else %}Converted{% endif %} - 
          {% if note.nonResidentialReason == 'OTHER' and note.nonResidentialOther is defined %}
              {{ note.nonResidentialOther }}
          {% else %}
              {{ note.nonResidentialReason|title }}
          {% endif %}
           on {{ note.expiryDateTime}}.
        </div>
      {% endif %}

      <div class="section-data bold mt-5">
        At the time of exemption, the manufactured home was owned by:
      </div>
      <div class="section-data mt-3">
        {% for group in ownerGroups %}
          {% for party in group.owners %}
            {% if party.organizationName is defined %}
                {{ party.organizationName }}
            {% elif party.individualName is defined %}
                {{ party.individualName.last }},
                {{ party.individualName.first }}
                {% if party.individualName.middle is defined %}&nbsp;{{ party.individualName.middle }}{% endif %}
            {% endif %}
            {% if party.suffix is defined and party.suffix != '' %}&nbsp;{{ party.suffix }}{% endif %}
            {% if party.description is defined and party.description != '' %}&nbsp;{{ party.description }}{% endif %}
            {% if not loop.last %}
                <div></div>           
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="section-data bold mt-5">
        and located on land described as:
      </div>

      [[registration/location.html]]

      <div class="section-data italic mt-8 mb-3">
        <span class="bold">Issued</span> on my behalf on {{createDate}}
      </div>
      [[registrarSignatureBlack.html]]
      <div class="section-data bold">KERRY TAYLOR</div>
      <div class="section-data">Registrar</div>
      <div class="section-data italic mt-5">Manufactured Home Registry</div>
      <div class="section-data">Province of British Columbia</div>
      <div class="section-data">Canada</div>  

    </div>

    <p class="last-page"></p>
  </body>
</html>

