[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="registration-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Home Registration Status:</td>
        <td>
          {% if status == 'FROZEN' %} Active {% else %} {{status|title}} {% endif %}
          {% if amendment is defined and amendment and previousStatus is defined and previousStatus != status and 
                not (status == 'FROZEN' and previousStatus == 'ACTIVE') %}
              <span class="pl-1">&nbsp;</span><span class="tombstone-label">AMENDED</span>
          {% endif %}
        </td>
      </tr>
      {% if amendment is defined and amendment %}
        <tr>
          <td>Transport Permit Number:</td>
          <td>{{permitRegistrationNumber}}</td>
        </tr>
        <tr>
          <td>Transport Permit Date and Time of Issue:</td>
          <td>{{permitDateTime}}</td>
        </tr>
        <tr>
          <td>Transport Permit Expiry Date:</td>
          <td> {{permitExpiryDateTime}} </td>
        </tr>
      {% elif extension is defined and extension %}
        <tr>
          <td>Transport Permit Number:</td>
          <td>{{permitRegistrationNumber}}</td>
        </tr>
        <tr>
          <td>Transport Permit Date and Time of Issue:</td>
          <td>{{permitDateTime}}</td>
        </tr>
        <tr>
          <td>Transport Permit Expiry Date:</td>
          <td> {{permitExpiryDateTime}} <span class="pl-1">&nbsp;</span><span class="extended-label">EXTENDED</span></td>
        </tr>
      {% else %}
        <tr>
          <td>Transport Permit Number:</td>
          <td>{{documentRegistrationNumber}}</td>
        </tr>
        <tr>
          <td>Transport Permit Date and Time of Issue:</td>
          <td>{{createDateTime}}</td>
        </tr>
        <tr>
          <td>Transport Permit Expiry Date:</td>
          <td>{% if note is defined and note.expiryDateTime is defined %} {{note.expiryDateTime}} {% endif %}</td>
        </tr>
      {% endif %}
      <tr>
        <td>Folio Number:</td>
        <td>
            {% if clientReferenceId is defined and clientReferenceId != '' %}
              {{clientReferenceId}}
            {% else %}
              N/A
            {% endif %}
        </td>
      </tr>      
    </table>
  </div>

  <div class="container pt-4">

    {% if amendment is defined and amendment %}
        <div class="section-title mt-1">Amendment Information</div>
        <div class="section-data mt-3">
          Transport permit {{permitRegistrationNumber}} was amended under document registration number 
          {{documentRegistrationNumber}} on {{createDateTime}}.
        </div>
        <div class="separator mt-5 mb-4"></div>
    {% endif %}
    <div class="section-data mt-1">
      Under section 17 of the Manufactured Home Act, the Registrar hereby permits the movement of the manufactured home registered 
      under {{mhrNumber}} with Serial Number(s)
      {% if description is defined and description.sections is defined %}
        {% for section in description.sections %}{{section.serialNumber}}{% if not loop.last %}, {% endif %}{% endfor %}
      {% endif %}
      to:
    </div>
  
    [[registration/location.html]]

    {% if messages is defined %}
      {% for message in messages %}
        <div class="no-page-break section-data mt-5">
          {% if message.messageType == 'WIDTH' %}
            A manufactured home may be subject to routing restrictions in accordance with the requirements of the Ministry 
            of Transportation and Infrastructure. You are responsible for confirming any such restrictions and you may visit 
            onRouteBC - Home (gov.bc.ca) or contact the Provincial Permit Centre for details.
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="separator mt-5"></div>
    <div class="section-title mt-5">Transport Permit Conditions</div>
    <table class="section-data section-data-table-base mt-2" role="presentation">
      <tr>
        <td>1.</td>
        <td class="pl-2">
          <div>A report must be submitted to the Registrar within 3 days if either of the following apply:
          <div class="pl-3">(a) The manufactured home is not moved before the transport permit expires, or</div>
          <div class="pl-3">(b) The home is permanently moved to a different location than what is specified on the tranpsort permit.</div>
        </td>
      </tr>
      <tr>
        <td class="pt-2">2.</td>
        <td class="pl-2 pt-2">
          This permit expires 30 days after the date of issue. If the manufactured home is NOT MOVED within this time,
          you must report the physical location of the manufactured home within 3 days of expiration of the permit.
        </td>
      </tr>
      <tr>
        <td class="pt-2">3.</td>
        <td class="pl-2 pt-2">
          This permit may be used for one (1) move only. A new permit must be obtained for subsequent moves.
        </td>
      </tr>
      <tr>
        <td class="pt-2">4.</td>
        <td class="pl-2 pt-2">
          Upon leaving British Columbia, this home is Exempted from the Manufactured Home Act. The home is required to be
          re-registered under the same number if it re-enters the Province of British Columbia.
        </td>
      </tr>
    </table>

    [[registration/submittingParty.html]]

    <div class="separator mt-5"></div>

    {% if location.address.region != 'BC' %}
      <div class="section-data mt-5">
        The Manufactured Home Registry now records this manufactured home as moving to the location outside of British Columbia (BC) specified
        in the permit. Upon leaving BC, this home is exempt from the Manufactured Home Act. If it re-enters BC, the home must be
        re-registered under the same manufactured home registration number.
      </div>

      <div class="section-data mt-5">
        A report must be submitted to the Registrar within 3 days if either of the following apply:
        <ul>
          <li>The manufactured home is not moved before the transport permit expires</li>
          <li>The home is permanently moved to a different location than what is specified on the tranpsort permit</li>
        </ul>
      </div>
    {% endif %}
  </div>
  <p class="last-page"></p>
  </body>
</html>

