Dockerfile
.dockerignore
__pycache__
.pytest_cache
venv

streaming_pull.py
test_run.py

.env
.env*
.eggs
Makefile
devops
k8s
manage.py
migrations
requirements
test_data
tests

flags.json
document*.pdf
PPRVER*.PDF
test*.pdf
test*.txt
