[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="registration-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Home Registration Status:</td>
        <td>{{status|title}}</td>
      </tr>
      <tr>
        <td>Document Registration Number:</td>
        <td>{{documentRegistrationNumber}}</td>
      </tr>
      <tr>
        <td>Document Registration Date and Time:</td>
        <td>{{createDateTime}}</td>
      </tr>
      <tr>
        <td>Destroyed Date and Time:</td>
        <td>{{note.effectiveDateTime}}</td>
      </tr>
      <tr>
        <td>Folio Number:</td>
        <td>
            {% if clientReferenceId is defined and clientReferenceId != '' %}
              {{clientReferenceId}}
            {% else %}
              N/A
            {% endif %}
        </td>
      </tr>
    </table>
  </div>


  <div class="container pt-4">

    <div class="no-page-break">
      <div class="section-title mt-5">Remarks</div>
      {% if note is defined and note.remarks is defined and note.remarks != '' %}
        <div class="section-data pt-3">{{note.remarks|safe}}</div>
      {% else %}
        <div class="section-data pt-3">N/A</div>
      {% endif %}
    </div>

    {% if note is defined and note.givingNoticeParty is defined %}
      [[registration/givingNoticeParty.html]]
    {% endif %}

    [[registration/submittingParty.html]]
  </div>
  {% if cover is not defined %}
    <p class="last-page"></p>
  {% endif %}
  </body>
</html>

