[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if cover is not defined %}
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageDraft.html]]
      {% endif %}
      [[v2/style.html]]
    {% else %}
      [[v2/stylePageMail.html]]
      [[v2/styleMail.html]]
    {% endif %}
  </head>
  <body>
    {% if cover is not defined %}
  <div class="business-details-container mtn-2">
    {% else %}
  <div class="business-details-container mtn-25">
      {% endif %}
    <table class="business-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Registration Type:</td>
        <td>Manufactured Home Act</td>
      </tr>
      <tr>
        <td>Registration Date and Time:</td>
        <td>
          {% if createDateTime is defined and createDateTime != '' %}
            {{createDateTime}} 
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
        <tr>
        <td>Current Status:</td>
        <td>
          {% if status == 'HISTORICAL' %}
            Cancelled
          {% elif status == 'EXEMPT' %}
            Exempted
          {% else %}
            Registered
          {% endif %}
        </td>
      </tr>
{#      
      <tr>
        <td>Declared Value:</td>
        <td>
          {% if declaredValue is defined and declaredValue != '' %}
            {{declaredValue}} 
            {% if declaredDateTime is defined and declaredDateTime != '' %} as of {{declaredDateTime}}{% endif %}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>    
#}
    </table>
  </div>

  <div class="container pt-4">
    [[registration/owners.html]]
    [[registration/location.html]]
    [[registration/details.html]]
    [[registration/sections.html]]

    <div class="no-page-break">
      <div class="separator mt-5"></div>
      <div class="section-title mt-3">Rebuilt Status:</div>
      {% if description.rebuiltRemarks is defined and description.rebuiltRemarks != '' %}
        <div class="section-data pt-3">{{description.rebuiltRemarks|safe}}</div>
      {% else %}
        <div class="section-data pt-3">N/A</div>
      {% endif %}
    </div>

    <div class="no-page-break">
      <div class="separator mt-5"></div>
      <div class="section-title mt-3">Other Information:</div>
      {% if description.otherRemarks is defined and description.otherRemarks != '' %}
        <div class="section-data pt-3">{{description.otherRemarks|safe}}</div>
      {% else %}
        <div class="section-data pt-3">N/A</div>
      {% endif %}
    </div>

    [[registration/submittingParty.html]]
  </div>
  {% if cover is not defined %}
    <p class="last-page"></p>
  {% endif %}
  </body>
</html>

