[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    [[v2/stylePageCover.html]]
    [[v2/style.html]]
  </head>
  <body>
    <div class="container ml-3 mt-4">
        {% if regCover.line5 is not defined %}        
          {% if regCover.line3 %}
          <table class="cover-data-table mt-0" role="presentation">
          {% else %}
          <table class="cover-data-table mt-8" role="presentation">
          {% endif %}
            <tr>
              <td>
                <div>{{ regCover.line1 }}</div>
                <div>{{ regCover.line2 }}</div>
                {% if regCover.line3 %}
                  <div>
                    {% set breaks3 = regCover.line3.split('\n') %}
                    {% for item in breaks3 %}
                       {{ item }}
                        {% if not loop.last %}
                            &nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <div>
                  {% set breaks = regCover.line4.split('\n') %}
                  {% for item in breaks %}
                     {{ item }}
                     {% if not loop.last %}
                        &nbsp;&nbsp;
                     {% endif %}
                  {% endfor %}
                </div>
              </td>
            </tr>
          </table> 
        {% else %}
          <table class="cover-data-table-5 mtn-1-1" role="presentation">
            <tr>
                <td>
                <div>{{ regCover.line1 }}</div>
                <div>{{ regCover.line2 }}</div>
                <div>{{ regCover.line3 }}</div>
                <div>
                  {% set breaks = regCover.line4.split('\n') %}
                  {% for item in breaks %}
                     {{ item }}
                     {% if not loop.last %}
                        &nbsp;&nbsp;
                     {% endif %}
                  {% endfor %}
                </div>
                <div>{{ regCover.line5 }}</div>
                </td>
            </tr>  
          </table> 
        {% endif %}          
    </div>
    <div class="container mt-11 ml-3">
      <div class="cover-data-bold">Verification Statement</div>
      {% if attentionReference is defined and attentionReference != '' %}    
        <div class="cover-data mt-4">Attention: {{ attentionReference }}</div>
      {% endif %}
      <div class="cover-data mt-4">
        Your information has been registered under the Manufactured Home Act, details of which appear
        on the following page(s). If there are any errors or omissions please contact our office within thirty (30) days
        of the document registration date.
      </div>
      <div class="cover-data mt-4"><span class="cover-data-bold">Manufactured Home Registration Number:</span> {{ mhrNumber }}</div>
      <div class="cover-data mt-4"><span class="cover-data-bold">Registration Type:</span>
        {% if registrationType == 'MHREG' %}    
          {{ documentDescription|title }}
        {% else %}
          {{ documentDescription }}
        {% endif %}        
      </div>
      <div class="cover-data"><span class="cover-data-bold">Document Registration Number:</span>
        {% if documentRegistrationNumber is defined and documentRegistrationNumber != '' %}
         {{ documentRegistrationNumber }}
        {% else %}
          N/A
        {% endif %}
      </div>
      <div class="cover-data"><span class="cover-data-bold">Document Registration Date and Time:</span> {{ createDateTime }}</div>
      {% if meta_account_id == 'ppr_staff' %}
        <div class="cover-data mt-4"><span class="cover-data-bold">Examiner:</span> {{ username }}</div>
        <div class="cover-data"><span class="cover-data-bold">Toll-Free Phone:</span> 1-877-526-1526</div>
      {% else %}
        <div class="cover-data mt-4"><span class="cover-data-bold">Toll-Free Phone:</span> 1-877-526-1526</div>
      {% endif %}
    </div>
  </div>
</body>
</html>
