[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="registration-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Home Registration Status:</td>
        <td>{% if status == 'FROZEN' %} Active {% else %} {{status|title}} {% endif %}</td>
      </tr>
      <tr>
        <td>Transport Permit Number:</td>
        <td>{{documentRegistrationNumber}}</td>
      </tr>
      <tr>
        <td>Date of Issue:</td>
        <td>{{createDateTime}}</td>
      </tr>
      <tr>
        <td>Expiry Date:</td>
        <td>{% if note is defined and note.expiryDateTime is defined %} {{note.expiryDateTime}} {% endif %}</td>
      </tr>
      <tr>
        <td>Folio Number:</td>
        <td>
            {% if clientReferenceId is defined and clientReferenceId != '' %}
              {{clientReferenceId}}
            {% else %}
              N/A
            {% endif %}
        </td>
      </tr>      
    </table>
  </div>

  <div class="container pt-4">
    <div class="section-data mt-1">
      Under section 17 of the Manufactured Home Act, the Registrar hereby permits the movement of the manufactured home registered 
      under {{mhrNumber}} with Serial Number(s)
      {% if description is defined and description.sections is defined %}
        {% for section in description.sections %}{{section.serialNumber}}{% if not loop.last %}, {% endif %}{% endfor %}
      {% endif %}
      to:
    </div>
  
    [[registration/location.html]]

    <div class="separator mt-5"></div>
    <div class="section-title mt-5">Transport Permit Conditions</div>
    <table class="no-page-break section-data section-data-table-base mt-2" role="presentation">
      <tr>
        <td>1.</td>
        <td class="pl-2">
          <div>If the manufactured home is permanently placed on a location other than specifically described on the transport permit, 
          the owner must advise the Registrar and provide full details of the location either</div>
          <div>(a) within 3 days after the manufactured home was transported to the new location</div>
          <div>or</div>
          <div>(b) within 3 days after the expiration of the transport permit which ever occurs first.</div>
        </td>
      </tr>
      <tr>
        <td class="pt-2">2.</td>
        <td class="pl-2 pt-2">
          This permit expires 30 days after the date of issue. If the manufactured home is NOT MOVED within this time,
          you must report the physical location of the manufactured home within 3 days after the expiration of the permit.
        </td>
      </tr>
      <tr>
        <td class="pt-2">3.</td>
        <td class="pl-2 pt-2">
          This permit may be used for one (1) move only. A new permit must be obtained for subsequent moves.
        </td>
      </tr>
      <tr>
        <td class="pt-2">4.</td>
        <td class="pl-2 pt-2">
          Upon leaving British Columbia, this home is Exempted from the Manufactured Home Act. The home is required to be
          re-registered under the same number if it re-enters the Province of British Columbia.
        </td>
      </tr>
    </table>

    [[registration/submittingParty.html]]

    <div class="separator mt-5"></div>

    {% if status == 'EXEMPT' %}
      <div class="section-data mt-5">
        Upon leaving British Columbia, this home is Exempted from the Manufactured Home Act. The home is required to be re-registered under the same number if it re-enters the Province of British Columbia.
      </div>
    {% endif %}
  </div>
  <p class="last-page"></p>
  </body>
</html>

