[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="business-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Document ID:</td>
        <td>{{documentId}} </td>
      </tr>
      <tr>
        <td>Registration Type:</td>
        <td>
          {% if documentDescription is defined and documentDescription != '' %}
            {{documentDescription|title}} 
          {% else %}
            Register New Unit
          {% endif %}                  
          </td>
      </tr>
      <tr>
        <td>Registration Date and Time:</td>
        <td>
          {% if createDateTime is defined and createDateTime != '' %}
            {{createDateTime}} 
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
        <tr>
        <td>Status:</td>
        <td>
          {% if status == 'HISTORICAL' %}
            Cancelled
          {% elif status == 'EXEMPT' %}
            Exempted
          {% else %}
            Registered
          {% endif %}
        </td>
      </tr>
    </table>
  </div>

  <div class="container pt-4">
    [[registration/owners.html]]

    [[registration/submittingParty.html]]
  </div>
  <p class="last-page"></p>
  </body>
</html>

