[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[v2/stylePageRegistration.html]]
      {% else %}
        [[v2/stylePageRegistrationDraft.html]]
      {% endif %}
      [[v2/style.html]]
  </head>
  <body>
  <div class="business-details-container mtn-2">
    <table class="registration-details-table-grey mt-0" role="presentation">
      <tr>
        <td>Registration Status:</td>
        <td>{{status|title}}</td>
      </tr>
      <tr>
        <td>Document Registration Number:</td>
        <td>{{documentRegistrationNumber}}</td>
      </tr>
      <tr>
        <td>Document Registration Date and Time:</td>
        <td>{{createDateTime}}</td>
      </tr>
      <tr>
        <td>Folio Number:</td>
        <td>
            {% if clientReferenceId is defined and clientReferenceId != '' %}
              {{clientReferenceId}}
            {% else %}
              N/A
            {% endif %}
        </td>
      </tr>      
      <tr>
        <td>Declared Value:</td>
        <td>
          {% if declaredValue is defined and declaredValue != '' %}
            {{declaredValue}} 
            {% if declaredDateTime is defined and declaredDateTime != '' %} as of {{declaredDateTime}}{% endif %}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>        
    </table>
  </div>

  <div class="container pt-4">
    [[registration/owners.html]]

    [[registration/submittingParty.html]]
  </div>
  <p class="last-page"></p>
  </body>
</html>

