[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if environment == '' %}
      [[stylePage.html]]
    {% else %}
      [[stylePageDraft.html]]
    {% endif %}
    [[style.html]]
  </head>
  <body>
    <div class="header">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ meta_title }}</div>
            <div class="report-type-desc">BC Registries and Online Services</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="business-details-container">
  
      <div class="business-name-header pt-3">
        <h2 id="{{ baseRegistrationNumber }}" class="lbl-business-name">
          Base Registration Number: {{ baseRegistrationNumber }}
          {% if statusType == 'HDC' %} 
            <span class="lbl-business-name-gold">DISCHARGED</span>
          {% elif statusType == 'HEX' %} 
            <span class="lbl-business-name-gold">EXPIRED</span>
          {% endif %}
        </h2>
      </div>

      <table class="business-details-table-grey" role="presentation">
        <tr>
          <td class="section-sub-title">Registration Date and Time:</td>
          <td>{{createDateTime}}</td>
        </tr>
        <tr>
            <td class="section-sub-title">Registration Number:</td>
            <td>{{changeRegistrationNumber}}</td>
        </tr>
      </table>          
    </div>      
  
    <div class="container pt-4">
      <div class="statement-title">{{changeType}}</div>
      <div class="separator-statement mt-1"></div>
    </div>
    
    {% if addVehicleCollateral is defined or deleteVehicleCollateral is defined %}
        <div class="container pt-4">    
            [[registration/vehicleCollateral.html]]
        </div>
    {% endif %}
    
    {% if addGeneralCollateral is defined or deleteGeneralCollateral is defined %}
        <div class="container pt-4">
            [[registration/generalCollateral.html]]
        </div>
    {% endif %}
    
    {% if addDebtors is defined or deleteDebtors is defined %}
        <div class="container pt-4">
            [[registration/debtors.html]]
        </div>
    {% endif %}
        
    {% if addSecuredParties is defined or deleteSecuredParties is defined %}
        <div class="container pt-4">
            [[registration/securedParties.html]]    
        </div>
    {% endif %}
    
    <div class="container pt-4">    
      [[registration/registeringParty.html]]
    </div>
        
  </body>
</html>
