[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if environment == '' %}
      [[stylePage.html]]
    {% else %}
      [[stylePageDraft.html]]
    {% endif %}
    [[style.html]]
  </head>
  <body>
    <article id="registration">
      <div class="header-registration">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ meta_title }}</div>
            <div class="report-type-desc">BC Registries and Online Services</div>
          </td>
        </tr>
      </table>
      <table class="registration-header-table" role="presentation">
        <tr>
          <td colspan="2">Discharge Registration Number: {{ dischargeRegistrationNumber }}</td>
        </tr>
      </table>
    </div>

    <div class="footer-reg-num">
      {% if environment != '' %}TEST DATA |  {% endif %}Discharge Registration #{{ dischargeRegistrationNumber }}:
    </div>

    <div class="registration-details-container">
      <table class="business-details-table-grey" role="presentation">
        <tr>
          <td>Registration Date and Time:</td>
          <td>{{createDateTime}}</td>
        </tr>
        <tr>
          <td>Base Registration Number:</td>
          <td>{{baseRegistrationNumber}}</td>
        </tr>
      </table>          
    </div>
     
    <div class="container pt-4">    
      [[registration/registeringParty.html]]
    </div>
    </article>
  </body>
</html>
