[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if environment == '' %}
      [[stylePage.html]]
    {% else %}
      [[stylePageDraft.html]]
    {% endif %}
    [[style.html]]
  </head>
  <body>
    <div class="header">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ registrationDescription }}</div>
            <div class="report-type-desc">{{ registrationAct }}</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="business-details-container">
      <div class="business-name-header pt-3">
        <h2 id="{{ baseRegistrationNumber }}" class="lbl-business-name">
          Base Registration Number: {{ baseRegistrationNumber }}
          {% if statusType == 'HDC' %} 
            <span class="lbl-business-name-gold">DISCHARGED</span>
          {% elif statusType == 'HEX' %} 
            <span class="lbl-business-name-gold">EXPIRED</span>
          {% endif %}
        </h2>
      </div>

      <table class="business-details-table-grey" role="presentation">
        <tr>
          <td>Base Registration Date and Time:</td>
          <td>{{createDateTime}}</td>
        </tr>
        {% if dischargedDateTime is defined %}
        <tr>
          <td>Discharge Date and Time:</td>
          <td>{{dischargedDateTime}}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Expiry Date and Time:</td>
          <td>
            {% if lifeInfinite is defined and lifeInfinite %} 
              Never
            {% else %}
              {{expiryDate}}
              {% if statusType == 'HEX' %} 
                <span style="color: #d3272c">(Expired)</span>
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% if type == 'RL' %}
        <tr>
          <td>Surrender Date:</td>
          <td>{{surrenderDate}}</td>
        </tr>
        <tr>
          <td>Lien Amount:</td>
          <td>{{lienAmount}}</td>
        </tr>
        {% endif %}
        {% if type == 'SA' %}
        <tr>
          <td>Trust Indenture:</td>
          <td>{% if trustIndenture == true %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endif %}
      </table>          
    </div>      

    {# Use search order. #}
    <div class="container pt-4">
      [[registration/securedParties.html]]
      [[registration/debtors.html]]
      [[registration/vehicleCollateral.html]]
      [[registration/generalCollateral.html]]
      {% if courtOrderInformation is defined %}
        [[registration/courtOrderInformation.html]]
      {% endif %}
      [[registration/registeringParty.html]]
    </div>

    {% if changes is defined %}
      <p style="page-break-before: always" ></p>
      <div class="separator-header mt-4"></div>
      <div class="section-title-centre mt-4">HISTORY</div>
      <div class="section-statement">(Showing most recent first)</div>
      <div class="separator-header mt-4"></div>

      <div class="container pt-4">
        {% for change in changes %}
          {% if change.statementType == 'RENEWAL_STATEMENT' %}
            [[registration/renewalStatement.html]]
          {% elif change.statementType == 'CHANGE_STATEMENT' %}
            [[registration/changeStatement.html]]
          {% elif change.statementType == 'AMENDMENT_STATEMENT' %}
            [[registration/amendmentStatement.html]]
          {% elif change.statementType == 'DISCHARGE_STATEMENT' %}
            [[registration/dischargeStatement.html]]
          {% endif %}
        {% endfor %}
      </div>
    {% endif %} 

  </body>
</html>
