[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if environment == '' %}
      [[stylePage.html]]
    {% else %}
      [[stylePageDraft.html]]
    {% endif %}
    [[style.html]]
  </head>
  <body>
    <article id="registration">
      <div class="header-registration">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ meta_title }}</div>
            <div class="report-type-desc">BC Registries and Online Services</div>
          </td>
        </tr>
      </table>
      <table class="registration-header-table" role="presentation">
        <tr>
          <td colspan="2">Renewal Registration Number: {{ renewalRegistrationNumber }}</td>
        </tr>
      </table>
    </div>

    <div class="footer-reg-num">
      {% if environment != '' %}TEST DATA |  {% endif %}Renewal Registration #{{ renewalRegistrationNumber }}:
    </div>

    <div class="registration-details-container">
      <table class="business-details-table-grey" role="presentation">
        <tr>
          <td>Registration Date and Time:</td>
          <td>{{createDateTime}}</td>
        </tr>
        <tr>
          <td>Base Registration Number:</td>
          <td>{{baseRegistrationNumber}}</td>
        </tr>
        <tr>
          <td class="section-sub-title">Registration Life:</td>
          <td>
              {% if lifeInfinite is defined and lifeInfinite %}
                  Infinite
              {% elif lifeYears is defined %}
                  {{lifeYears}} {% if lifeYears != 1 %} Years {% else %} Year {% endif %}
              {% endif %}
          </td>
        </tr>
        <tr>
            <td class="section-sub-title">New Expiration Date and Time:</td>
            <td>
                {% if lifeInfinite is defined and lifeInfinite %}
                    Never
                {% else %}
                    {{expiryDate}}
                {% endif %}
            </td>
        </tr>
      </table>          
    </div>      
  
    <div class="container pt-4">
      {% if courtOrderInformation is defined %}
        [[registration/courtOrderInformation.html]]
      {% endif %}  
      [[registration/registeringParty.html]]
    </div>

  </article>    
  </body>
</html>
