[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    {% if environment == '' %}
      [[stylePage.html]]
    {% else %}
      [[stylePageDraft.html]]
    {% endif %}
    [[style.html]]
  </head>
  <body>
    <article id="search-toc">
    <div class="header">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ meta_title }}</div>
            <div class="report-type-desc">BC Registries and Online Services</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="business-details-container">
      <div class="business-name-header pt-4">
        <span class="lbl-business-name">{{ meta_subject }}</span>
      </div>
  
      <table class="business-details-table" role="presentation">
        <tr>
          <td class="lbl-business-detail">Search Date and Time:</td>
          <td>{{searchDateTime}}</td>
        </tr>
        <tr>
          <td class="lbl-business-detail">Account Name:</td>
          <td>
            {% if meta_account_name is defined %}
              {{meta_account_name}}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="lbl-business-detail">Folio Number:</td>
          <td>
            {% if searchQuery.clientReferenceId is defined and searchQuery.clientReferenceId != "" %}
              {{searchQuery.clientReferenceId}}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  
    <table class="header-table-toc mt-4" role="presentation">
      <tr>
        <th colspan="3" class="header-toc-title pt-3">
          {% if totalResultsSize > 0 %}
            TABLE OF CONTENTS
          {% else %}
            NIL RESULT
          {% endif %}  
        </th>
      </tr>
      <tr>
          <td>Registrations in this Report: {{ totalResultsSize }}</td>
          <td>Exact Matches: {{ exactResultsSize }}</td>
          <td>Total Search Report Pages:
            {% if totalResultsSize > 0 %}
              <span id="pagesCounter"></span>
            {% else %}
              0
            {% endif %}  
          </td>
      </tr>
    </table>
      
    {% if totalResultsSize > 0 %}
      {% if selected is defined and searchQuery.type != "REGISTRATION_NUMBER" %}
        [[search-result/selected.html]]
      {% endif %}
    {% else %}
      <div class="nil-message pt-4">The search returned a NIL result. 0 registrations were found.</div> 
    {% endif %}
  </article>

    {% if totalResultsSize > 0 %}
      {% for detail in details %}
        <p style="page-break-before: always" ></p>
        [[search-result/financingStatement.html]]

        {% if detail.financingStatement.changes is defined %}
          <p style="page-break-before: always" ></p>
          <div class="separator-header mt-4"></div>
          <div class="section-title-centre mt-4">HISTORY</div>
          <div class="section-statement">(Showing most recent first)</div>
          <div class="separator-header mt-4"></div>

          <div class="container pt-4">
            {% for change in detail.financingStatement.changes %}
              {% if change.statementType == 'RENEWAL_STATEMENT' %}
                [[search-result/renewalStatement.html]]
              {% elif change.statementType == 'AMENDMENT_STATEMENT' %}
                [[search-result/amendmentStatement.html]]
              {% elif change.statementType == 'CHANGE_STATEMENT' %}
                [[search-result/changeStatement.html]]
              {% elif change.statementType == 'DISCHARGE_STATEMENT' %}
                [[search-result/dischargeStatement.html]]
              {% endif %}
            {% endfor %}
          </div>

          {% endif %} 
      {% endfor %}

    {% endif %}
  
  </body>
</html>
