openapi: 3.0.0
info:
  title: Personal Property Registry API
  version: 1.0.0
  description: '<p>The Personal Property Registry (PPR) is a centralised, electronic register where details of security interests in personal property can be registered and searched. The PPR API provides a real-time, secure, direct link between your business systems and the PPR. With this API you can submit the following transactions:<ul><li>Search for Personal Property information</li><li>Register an interest or lien as a Financing Statement</li><li>Amend a Financing Statement</li><li>Renew a Financing Statement</li><li>Discharge a Financing Statement</li></ul></p><p>All requests must include a BC Registries issued API key.</p><p>All requests must include an Account ID.</p><p>Fee Information<br>Refer to the BC Registries Payment API to look up a PPR service fee by fee code.</p><p>Payment Information<br>When submitting a request for which there is a fee, the payment invoice ID and a reference to the payment receipt are returned in the response.</p><p>Searches<br>Executing a search is a two step process:<ol><li>Submit search query criteria which on success returns a set of results as summary information.</li><li>Submit selected summary results from the first step to obtain details on one or more Financing Statements.</li></ol>A fee is charged for every new search request - the first step.</p><p>Schema definition "string" type property lengths are published in a separate document named "ppr-api-property-lengths.pdf" on the Registries API web site.</p><p><b>NOTE: </b>With registration and search results it is possible to request a PDF report as a response. If the request header Accept value is application/pdf a report is returned in the response only if the immediate report generation is successful. If the report service fails to generate a report but the request is otherwise successful, a status code of 202 - Accepted is returned and the response payload is JSON. A subsequent GET is required to obtain the report.</p><p><b>NOTE:</b> a new Commercial Lien (CL) registration type replaces the Repairers Lien (RL) registration type. The business rules for creating and changing a CL type are similar to those of an SA but with no trust indenture. The transition date from RL to CL registrations, after which new RL registrations are no longer allowed, is published elsewhere by the Registry. After the CLA becomes law amendments, renewals, and discharges on an active RL base registration will change the type to CL.</p>'
  contact:
    name: BC Registries
servers:
  - url: 'https://sandbox.api.connect.gov.bc.ca'
    description: Sandbox
  - url: 'https://api.connect.gov.bc.ca'
    description: Production
paths:
  /ppr/api/v1/drafts:
    get:
      tags:
        - Draft
      summary: List Account Drafts
      description: Get a list of existing drafts for your account. Use the optional "type" query parameter to filter by draft type. If no parameter is included in the request all existing drafts belonging to the account ID are returned in the set of results. If no drafts exist for the account an empty array is returned.
      operationId: get-drafts
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: type
          in: query
          required: false
          description: Optionally specify the type of draft document to include in the results. Possible values are AMENDMENT_STATEMENT and FINANCING_STATEMENT.
          schema:
            type: string
            enum:
              - AMENDMENT_STATEMENT
              - FINANCING_STATEMENT
          example: AMENDMENT_STATEMENT
      responses:
        '200':
          description: Ok
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/draftResult'
              examples:
                /api/v1/drafts/get:
                  summary: List all drafts for account response.
                  value:
                    - type: FINANCING_STATEMENT
                      documentId: D0034001
                      baseRegistrationNumber: ''
                      registrationType: SA
                      registrationDescription: PPSA SECURITY AGREEMENT
                      path: /ppr/api/v1/drafts/D0034001
                      createDateTime: '2021-06-03T22:58:46+00:00'
                      lastUpdateDateTime: '2021-06-12T18:22:22+00:00'
                      clientReferenceId: D-100001005
                      registeringName: Michael Smith
                    - type: AMENDMENT_STATEMENT
                      baseRegistrationNumber: 023001B
                      documentId: D0034002
                      registrationType: AM
                      registrationDescription: AMENDMENT/OTHER CHANGE
                      path: /ppr/api/v1/drafts/D0034002
                      createDateTime: '2021-06-30T00:28:24+00:00'
                      lastUpdateDateTime: '2021-06-30T00:28:24+00:00'
                      clientReferenceId: D-100001005
                      registeringName: Michael Smith
                    - type: CHANGE_STATEMENT
                      baseRegistrationNumber: 023010B
                      documentId: D0034003
                      registrationType: DT
                      registrationDescription: DEBTOR TRANSFER
                      path: /ppr/api/v1/drafts/D0034003
                      createDateTime: '2021-06-24T16:28:24+00:00'
                      lastUpdateDateTime: '2021-06-24T16:28:24+00:00'
                      clientReferenceId: D-100001006
                      registeringName: Michael Smith
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Draft
      summary: Create a Draft
      description: Create a new draft of a Financing Statement or an Amendment/Court Order Statement.
      operationId: post-draft
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/draft'
            examples:
              financing-statement:
                summary: Create a Draft Financing Statement request.
                value:
                  type: FINANCING_STATEMENT
                  financingStatement:
                    type: SA
                    clientReferenceId: A-00000402
                    authorizationReceived: true
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                    lifeYears: 5
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/draft'
              examples:
                /api/v1/drafts/post:
                  summary: Create a Draft Financing Statement response.
                  value:
                    type: FINANCING_STATEMENT
                    financingStatement:
                      type: SA
                      documentId: D0034001
                      clientReferenceId: A-00000402
                      registeringParty:
                        businessName: ABC SEARCHING COMPANY
                        address:
                          street: 222 SUMMER STREET
                          city: VICTORIA
                          region: BC
                          country: CA
                          postalCode: V8W 2V8
                        emailAddress: bsmith@abc-search.com
                      securedParties:
                        - businessName: BANK OF BRITISH COLUMBIA
                          address:
                            street: 3721 BEACON AVENUE
                            city: SIDNEY
                            region: BC
                            country: CA
                            postalCode: V7R 1R7
                          emailAddress: asmith@bobc.com
                          partyId: 1321064
                      debtors:
                        - businessName: Debtor 1 Inc.
                          address:
                            street: 721 Debtor Ave
                            city: Victoria
                            region: BC
                            country: CA
                            postalCode: A1A 1A1
                          birthDate: '1990-06-15T16:42:00-08:00'
                          emailAddress: asmith@debtor1.com
                          partyId: 1321065
                      vehicleCollateral:
                        - type: MV
                          serialNumber: KM8J3CA46JU622994
                          year: 2018
                          make: HYUNDAI
                          model: TUCSON
                          vehicleId: 974123
                      generalCollateral: []
                      lifeYears: 5
                    createDateTime: '2020-02-21T18:56:20+00:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters: []
  '/ppr/api/v1/drafts/{document_id}':
    parameters:
      - $ref: '#/components/parameters/document_id'
    get:
      tags:
        - Draft
      summary: Retrieve a draft document
      description: Retrieve the existing draft of the Financing Statement or Amendment/Court Order Statement that matches the document ID.
      operationId: get-draft-by-id
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/draft'
              examples:
                /api/v1/drafts/D0034001/get:
                  summary: Retrieve a Draft Financing Statement response.
                  value:
                    type: FINANCING_STATEMENT
                    financingStatement:
                      type: SA
                      clientReferenceId: A-00000402
                      documentId: D0034001
                      registeringParty:
                        businessName: ABC SEARCHING COMPANY
                        address:
                          street: 222 SUMMER STREET
                          city: VICTORIA
                          region: BC
                          country: CA
                          postalCode: V8W 2V8
                        emailAddress: bsmith@abc-search.com
                      securedParties:
                        - businessName: BANK OF BRITISH COLUMBIA
                          address:
                            street: 3721 BEACON AVENUE
                            city: SIDNEY
                            region: BC
                            country: CA
                            postalCode: V7R 1R7
                          emailAddress: asmith@bobc.com
                      debtors:
                        - businessName: Debtor 1 Inc.
                          address:
                            street: 721 Debtor Ave
                            city: Victoria
                            region: BC
                            country: CA
                            postalCode: A1A 1A1
                          birthDate: '1990-06-15T16:42:00-08:00'
                          emailAddress: dsmith@debtor1.com
                      vehicleCollateral:
                        - type: MV
                          serialNumber: KM8J3CA46JU622994
                          year: 2018
                          make: HYUNDAI
                          model: TUCSON
                      lifeYears: 5
                    createDateTime: '2020-02-21T18:56:20+00:00'
                /api/v1/drafts/D0034002/get:
                  summary: Retrieve Draft Amendment Statement example.
                  value:
                    type: AMENDMENT_STATEMENT
                    amendmentStatement:
                      baseRegistrationNumber: '1000123'
                      documentId: D0034002
                      description: Amendment to correct spelling mistake in debtor name. Name changed from "Brawn" to "Brown".
                      changeType: AM
                      debtorName:
                        businessName: DEBTOR 1 INC.
                      deleteDebtors:
                        - businessName: Brawn Window Cleaning Inc.
                          partyId: 1321961
                      addDebtors:
                        - businessName: Brown Window Cleaning Inc.
                          address:
                            street: 1234 Blanshard St
                            city: Victoria
                            region: BC
                            country: CA
                            postalCode: V8S 3J5
                          emailAddress: csmith@bwc.com
                      registeringParty:
                        businessName: ABC SEARCHING COMPANY
                        address:
                          street: 222 SUMMER STREET
                          city: VICTORIA
                          region: BC
                          country: CA
                          postalCode: V8W 2V8
                        emailAddress: bsmith@abc-search.com
                    lastUpdateDateTime: '2020-02-23T11:23:20+00:00'
                    createDateTime: '2020-02-21T18:56:20+00:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Draft
      summary: Update a draft document
      description: Update an existing draft of a Financing Statement or Amendment/Court Order Statement.
      operationId: put-draft
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/draft'
            examples:
              financing-statement-example:
                summary: Update Draft Financing Statement request.
                value:
                  type: FINANCING_STATEMENT
                  financingStatement:
                    type: SA
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    authorizationReceived: true
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                    generalCollateral: []
                    lifeYears: 5
                  createDateTime: '2020-02-21T18:56:20+00:00'
              amendment-statement-example:
                summary: Update Draft Amendment Statement request.
                value:
                  type: AMENDMENT_STATEMENT
                  amendmentStatement:
                    baseRegistrationNumber: 023003B
                    documentId: D0034002
                    authorizationReceived: true
                    description: Amendment to correct spelling mistake in debtor name. Name changed from "Brawn" to "Brown".
                    changeType: AM
                    clientReferenceId: A-00000402
                    debtorName:
                      businessName: DEBTOR 1 INC.
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    deleteDebtors:
                      - businessName: Brawn Window Cleaning Inc.
                        partyId: 1321065
                    addDebtors:
                      - businessName: Brown Window Cleaning Inc.
                        address:
                          street: 1234 Blanshard St
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: V8S 3J5
                        emailAddress: csmith@bwc.com
                  createDateTime: '2020-02-21T18:56:20+00:00'
        description: ''
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/draft'
              examples:
                /api/v1/drafts/D0034001/put:
                  summary: Update Draft Financing Statement response.
                  value:
                    type: FINANCING_STATEMENT
                    financingStatement:
                      type: SA
                      clientReferenceId: A-00000402
                      documentId: D0034001
                      registeringParty:
                        businessName: ABC SEARCHING COMPANY
                        address:
                          street: 222 SUMMER STREET
                          city: VICTORIA
                          region: BC
                          country: CA
                          postalCode: V8W 2V8
                        emailAddress: bsmith@abc-search.com
                      securedParties:
                        - businessName: BANK OF BRITISH COLUMBIA
                          address:
                            street: 3721 BEACON AVENUE
                            city: SIDNEY
                            region: BC
                            country: CA
                            postalCode: V7R 1R7
                          emailAddress: dsmith@bobc.com
                      debtors:
                        - businessName: Debtor 1 Inc.
                          address:
                            street: 721 Debtor Ave
                            city: Victoria
                            region: BC
                            country: CA
                            postalCode: A1A 1A1
                          birthDate: '1990-06-15T16:42:00-08:00'
                          emailAddress: dsmith@debtor1.com
                      vehicleCollateral:
                        - type: MV
                          serialNumber: KM8J3CA46JU622994
                          year: 2018
                          make: HYUNDAI
                          model: TUCSON
                      generalCollateral: []
                      lifeYears: 5
                    createDateTime: '2020-02-21T18:56:20+00:00'
                    lastUpdateDateTime: '2020-02-24T10:23:20+00:00'
                /api/v1/drafts/D0034002/put:
                  summary: Update Draft Amendment Statement response.
                  value:
                    type: AMENDMENT_STATEMENT
                    amendmentStatement:
                      baseRegistrationNumber: 023003B
                      documentId: D0034002
                      description: Amendment to correct spelling mistake in debtor name. Name changed from "Brawn" to "Brown".
                      changeType: AM
                      debtorName:
                        businessName: DEBTOR 1 INC.
                      deleteDebtors:
                        - businessName: Brawn Window Cleaning Inc.
                          partyId: 1321065
                      addDebtors:
                        - businessName: Brown Window Cleaning Inc.
                          address:
                            street: 1234 Blanshard St
                            city: Victoria
                            region: BC
                            country: CA
                            postalCode: V8S 3J5
                          emailAddress: csmith@bwc.com
                      registeringParty:
                        businessName: ABC SEARCHING COMPANY
                        address:
                          street: 222 SUMMER STREET
                          city: VICTORIA
                          region: BC
                          country: CA
                          postalCode: V8W 2V8
                        emailAddress: bsmith@abc-search.com
                    lastUpdateDateTime: '2020-02-23T11:23:20+00:00'
                    createDateTime: '2020-02-21T18:56:20+00:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Draft
      summary: Delete Draft
      description: Delete an existing draft of the Financing Statement or Amendment/Court Order Statement that matches the document ID.
      operationId: delete-financing-draft
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: No Content
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /ppr/api/v1/financing-statements:
    get:
      tags:
        - Financing Statement
      summary: List account Financing Statements
      description: '<p>Retrieve a list of Financing Statements created by the account ID submitting the request, sorted by most recent first. As part of the list criteria, include a debtor name as request query parameters. BC Registries may apply restrictions still to be determined on what is included in the results. The startDateTime, endDateTime, and registrationType parameters may be used to refine the results. There is a limit on the number of items returned in the results (to be determined). The list of summary information includes the following properties:<ul><li>baseRegistrationNumber</li><li>registrationType</li><li>createDateTime</li></ul></p><p>If no Financing Statements exist for the account and empty array is returned.</p><p>Financing Statements that have expired or been discharged more than 30 days prior to the submission of the request are excluded from the results.</p>'
      operationId: list-financing-statements
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: debtorName
          in: query
          required: true
          description: Provide the debtor business name or individual last name as part of the search criteria.
          schema:
            type: string
        - name: debtorFirstName
          in: query
          required: false
          description: Provide the debtor first name as part of the search criteria if the debtor is an individual.
          schema:
            type: string
        - name: startDateTime
          in: query
          required: false
          description: Limit the results date range by specifying a start date and time. This timestamp must be in the past and earlier than endDateTime.
          schema:
            type: string
            format: date-time
            example: '2020-08-07T00:00:00Z'
        - name: endDateTime
          in: query
          required: false
          description: Limit the results date range by specifying an end date and time. This timestamp must be in the past and later than startDateTime.
          schema:
            type: string
            format: date-time
            example: '2020-08-08T00:00:00Z'
        - name: registrationType
          in: query
          required: false
          description: Limit the results by specifying the type of registration to search on. The value must be one of the defined Financing Statement registration types.
          schema:
            type: string
            example: SA
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/registrationSummary'
              examples:
                /api/v1/financing-statements/get:
                  value:
                    - registrationNumber: 9000300B
                      baseRegistrationNumber: 9000300B
                      statusType: ACT
                      registrationType: SA
                      registrationDescription: PPSA SECURITY AGREEMENT
                      registrationClass: PPSALIEN
                      expireDays: 1422
                      clientReferenceId: T-0000003
                      path: /ppr/api/v1/financing-statements/9000300B
                      createDateTime: '2021-06-03T22:58:45+00:00'
                      lastUpdateDateTime: '2021-06-03T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                    - registrationNumber: 9000200B
                      baseRegistrationNumber: 9000200B
                      statusType: ACT
                      registrationType: RL
                      registrationDescription: REPAIRERS LIEN
                      registrationClass: PPSALIEN
                      expireDays: 52
                      clientReferenceId: T-0000002
                      path: /ppr/api/v1/financing-statements/9000100B
                      createDateTime: '2021-05-30T22:58:45+00:00'
                      lastUpdateDateTime: '2021-05-30T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                    - registrationNumber: 9000100B
                      baseRegistrationNumber: 9000100B
                      statusType: ACT
                      registrationType: SG
                      registrationDescription: POSSESSION UNDER S.30 OF THE SALE OF GOODS ACT
                      registrationClass: PPSALIEN
                      expireDays: 984
                      clientReferenceId: T-0000001
                      path: /ppr/api/v1/financing-statements/9000100B
                      createDateTime: '2021-04-30T22:58:45+00:00'
                      lastUpdateDateTime: '2021-04-30T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Financing Statement
      summary: Create a financing statement.
      description: 'Create (register) a new Financing Statement. If the request is for a PDF response and the report generation is not successful, a 202 Accepted status is returned and a subsequent GET is required to retrieve the report. Otherwise on success the response status is 201.'
      operationId: post-financing-statements
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/financingStatement'
            examples:
              Register a Security Agreement:
                summary: Register a Security Agreement request.
                value:
                  type: SA
                  clientReferenceId: A-00000402
                  documentId: D0034001
                  authorizationReceived: true
                  registeringParty:
                    businessName: ABC SEARCHING COMPANY
                    address:
                      street: 222 SUMMER STREET
                      city: VICTORIA
                      region: BC
                      country: CA
                      postalCode: V8W 2V8
                    emailAddress: bsmith@abc-search.com
                  securedParties:
                    - businessName: BANK OF BRITISH COLUMBIA
                      address:
                        street: 3721 BEACON AVENUE
                        city: SIDNEY
                        region: BC
                        country: CA
                        postalCode: V7R 1R7
                      emailAddress: asmith@bobc.com
                  debtors:
                    - businessName: Debtor 1 Inc.
                      address:
                        street: 721 Debtor Ave
                        city: Victoria
                        region: BC
                        country: CA
                        postalCode: A1A 1A1
                      birthDate: '1990-06-15T16:42:00-08:00'
                      emailAddress: dsmith@debtor1.com
                  vehicleCollateral:
                    - type: MV
                      serialNumber: KM8J3CA46JU622994
                      year: 2018
                      make: HYUNDAI
                      model: TUCSON
                  generalCollateral:
                    - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                      addedDateTime: '2020-02-21T18:38:20Z'
                  lifeYears: 5
                  trustIndenture: false
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/financingStatement'
              examples:
                /api/v1/financing-statements/post:
                  summary: Register a Security Agreement response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-21T18:38:20+00:00'
                    baseRegistrationNumber: 023000B
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    parameters: []
  /ppr/api/v1/financing-statements/registrations:
    get:
      tags:
        - Financing Statement
      summary: List account Registrations
      description: '<p>Retrieve a summary list of all account registrations either created or added by the account ID submitting the request, sorted by most recent first.</p><p>If no Financing Statement registrations exist for the account an empty array is returned.</p><p>Financing Statements that have expired or been discharged more than 30 days prior to the submission of the request, and registrations associated with such historical Financing Statements, are excluded from the results.</p><p>Use the Add or Delete Account Registrations endpoints to add or remove registrations created by another account.</p> <p>Limited filtering of results is available by including these query parameters: <ul><li>clientReferenceId</li><li>startDateTime and endDateTime</li><li>registrationNumber</li></ul></p><p>If the results are filtered Amendment, Change, Renewal, and Discharge registrations are automatically included in the base registration changes array (collapse=true).</p>'
      operationId: list-registrations
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: collapse
          in: query
          required: false
          description: 'If true, return a hierarchical view of the data as financing statements with registrations. The default is false if no filter query parameter is included.'
          schema:
            type: boolean
        - name: startDateTime
          in: query
          required: false
          description: Limit the results date range by specifying a start date and time. This timestamp must be in the past and earlier than endDateTime.
          schema:
            type: string
            format: date-time
            example: '2021-11-04T08:00:00-08:00'
        - name: endDateTime
          in: query
          required: false
          description: Limit the results date range by specifying an end date and time. This timestamp must be in the past and later than startDateTime.
          schema:
            type: string
            format: date-time
            example: '2021-11-04T08:30:00-08:00'
        - name: clientReferenceId
          in: query
          required: false
          description: Limit the results by specifying a client reference ID to filter on.
          schema:
            type: string
            example: T-0002222
        - name: registrationNumber
          in: query
          required: false
          description: 'Limit the results by specifying a registration number (Financing Statement, Amendment, Change, Renewal, or Discharge) to filter on.'
          schema:
            type: string
            example: 9000100B
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/registrationSummary'
              examples:
                /api/v1/financing-statements/registrations/get:
                  value:
                    - registrationNumber: 9002222B
                      baseRegistrationNumber: 9000100B
                      statusType: ACT
                      registrationType: RE
                      registrationDescription: RENEWAL
                      registrationClass: RENEWAL
                      expireDays: 1012
                      clientReferenceId: T-0002222
                      path: /ppr/api/v1/financing-statements/9000100B/renewals/9002222B
                      createDateTime: '2021-06-22T23:03:45+00:00'
                      lastUpdateDateTime: '2021-06-22T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                      registeringName: Michael Smith
                    - registrationNumber: 9000304B
                      baseRegistrationNumber: 9000300B
                      statusType: ACT
                      registrationType: ST
                      registrationDescription: SECURED PARTY TRANSFER
                      registrationClass: CHANGE
                      expireDays: 1422
                      clientReferenceId: C-0000003
                      path: /ppr/api/v1/financing-statements/9000300B/changes/9000304B
                      createDateTime: '2021-06-15T22:58:45+00:00'
                      lastUpdateDateTime: '2021-06-15T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                      registeringName: Michael Smith
                    - registrationNumber: 9000300B
                      baseRegistrationNumber: 9000300B
                      statusType: ACT
                      registrationType: SA
                      registrationDescription: PPSA SECURITY AGREEMENT
                      registrationClass: PPSALIEN
                      expireDays: 1422
                      clientReferenceId: T-0000003
                      path: /ppr/api/v1/financing-statements/9000300B
                      createDateTime: '2021-06-03T22:58:45+00:00'
                      lastUpdateDateTime: '2021-06-15T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                      registeringName: Michael Smith
                    - registrationNumber: 9000200B
                      baseRegistrationNumber: 9000200B
                      statusType: ACT
                      registrationType: RL
                      registrationDescription: REPAIRERS LIEN
                      registrationClass: PPSALIEN
                      expireDays: 52
                      clientReferenceId: T-0000002
                      path: /ppr/api/v1/financing-statements/9000100B
                      createDateTime: '2021-05-30T22:58:45+00:00'
                      lastUpdateDateTime: '2021-05-30T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                      registeringName: Michael Smith
                    - registrationNumber: 9000100B
                      baseRegistrationNumber: 9000100B
                      statusType: ACT
                      registrationType: SG
                      registrationDescription: POSSESSION UNDER S.30 OF THE SALE OF GOODS ACT
                      registrationClass: PPSALIEN
                      expireDays: 1012
                      clientReferenceId: T-0000001
                      path: /ppr/api/v1/financing-statements/9000100B
                      createDateTime: '2021-04-30T22:58:45+00:00'
                      lastUpdateDateTime: '2021-06-22T23:03:45+00:00'
                      registeringParty: Bank of British Columbia
                      securedParties: Bank of British Columbia
                      registeringName: Michael Smith
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/ppr/api/v1/financing-statements/registrations/{registration_num}':
    parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/registration_num'
    get:
      tags:
        - Financing Statement
      summary: Get Registration Summary Information
      description: <p>Used by the PPR application to review summary information about a Financing Statement created by another account before adding it to the account list of registrations.</p>
      operationId: get-account-registration
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registrationSummary'
              examples:
                /api/v1/financing-statements/registrations/0051000B/get:
                  summary: Get registration summary information response.
                  value:
                    registrationNumber: 0051000B
                    baseRegistrationNumber: 0051000B
                    statusType: ACT
                    registrationType: SG
                    registrationDescription: POSSESSION UNDER S.30 OF THE SALE OF GOODS ACT
                    registrationClass: PPSALIEN
                    expireDays: 1012
                    clientReferenceId: T-0000001
                    path: /ppr/api/v1/financing-statements/0051000B
                    createDateTime: '2021-04-30T22:58:45+00:00'
                    lastUpdateDateTime: '2021-06-22T23:03:45+00:00'
                    registeringParty: Bank of British Columbia
                    securedParties: Bank of British Columbia
                    registeringName: Michael Smith
                    inUserList: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Financing Statement
      summary: Add Account Registrations
      description: '<p>Created for use by the PPR Application. Use this endpoint to add a Financing Statement created by another account to the List account Registrations results.</p><p>Attempting to add a duplicate registration number returns a 409 Conflict status.</p><p>Attempting to add registration number with restricted access returns a 403 Forbidden status.</p><p>A registration number which does not exist, has expired, or has been discharged returns a 404 Not Found status.</p>'
      operationId: post-account-registration
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registrationSummary'
              examples:
                /api/v1/financing-statements/registrations/0051000B/post:
                  summary: Add account registrations response.
                  value:
                    registrationNumber: 0051000B
                    baseRegistrationNumber: 0051000B
                    statusType: ACT
                    registrationType: SG
                    registrationDescription: POSSESSION UNDER S.30 OF THE SALE OF GOODS ACT
                    registrationClass: PPSALIEN
                    expireDays: 1012
                    clientReferenceId: T-0000001
                    path: /ppr/api/v1/financing-statements/0051000B
                    createDateTime: '2021-04-30T22:58:45+00:00'
                    lastUpdateDateTime: '2021-06-22T23:03:45+00:00'
                    registeringParty: Bank of British Columbia
                    securedParties: Bank of British Columbia
                    registeringName: Michael Smith
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Financing Statement
      summary: Delete Account Registrations
      description: <p>Remove a previously added Financing Statement registration created by another account from the list of registrations associated with the user account.</p>
      operationId: delete-account-registration
      responses:
        '204':
          description: No Content
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/ppr/api/v1/financing-statements/{registration_num}':
    get:
      tags:
        - Financing Statement
      summary: Retrieve a Financing Statement
      description: '<p>Retrieve by registration number a Financing Statement. The account ID used to submit the request must match the account ID used to create the Financing Statement identified by the registration number.</p><p>If the request is for a report and the report does not exist and the report service returns an error, the response status is 503 service unavailable.</p>'
      operationId: get-financing-statement
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/registration_num'
        - name: current
          in: query
          required: false
          description: 'If true, return financing statement information which represents the current state at the time the request is submitted. The default is false.'
          schema:
            type: boolean
        - schema:
            type: string
            example: application/pdf
          in: header
          name: Accept
          description: The optional requested MIME type format of the response. Allowed values are application/json (the default) or application/pdf.
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/financingStatement'
              examples:
                /api/v1/financing-statements/023000B/get:
                  summary: Register a Security Agreement response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321064
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321065
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974123
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20+00:00'
                        collateralId: 125001
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    baseRegistrationNumber: 023000B
                    createDateTime: '2020-02-21T18:38:20+00:00'
                    lifeYears: 5
                    trustIndenture: false
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  '/ppr/api/v1/financing-statements/{registration_num}/amendments':
    post:
      tags:
        - Financing Statement
      summary: Create an Amendment Statement
      description: '<p>Register a Financing Statement amendment or court order change as an Amendment Statement to add or delete:</p><ul><li>Secured parties</li><li>Debtors</li><li>Vehicles</li><li>General collateral</li></ul><p>The name of any Debtor that exists at the time of the registration is required as an additional check on the Financing Statement (base) registration number.</p><p>When the Amendment includes a Secured Party or Debtor name/address change, use the added party amendPartyId to link the added party to the deleted party. Set the amendPartyId value to the deleted party partyId value.</p><p>For SE registration type amendments, include addSecuritiesActNotices and deleteSecuritiesActNotices only when modifying the securities act information. At least one notice must be active. With this registration type the Secured Party may not be modified.</p><p>If the request is for a PDF response and the report generation is not successful, a 202 Accepted status is returned and a subsequent GET is required to retrieve the report. Otherwise on success the response status is 201.</p><p>After the Commercial Lien Act becomes law, an amendment on a Repairers Lien (RL) base registration will change the registration type to CL (Commercial Lien).</p>'
      operationId: post-amendment-statement
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/registration_num'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/amendmentStatement'
            examples:
              court-order-example:
                summary: Create a Court Order Amendment request.
                value:
                  baseRegistrationNumber: 023001B
                  authorizationReceived: true
                  description: Court Order debtor removal.
                  changeType: CO
                  clientReferenceId: A-00000402
                  debtorName:
                    businessName: DEBTOR 1 INC.
                  registeringParty:
                    businessName: ABC SEARCHING COMPANY
                    address:
                      street: 222 SUMMER STREET
                      city: VICTORIA
                      region: BC
                      country: CA
                      postalCode: V8W 2V8
                    emailAddress: bsmith@abc-search.com
                  courtOrderInformation:
                    courtName: Supreme Court of British Columbia.
                    courtRegistry: KAMLOOPS
                    fileNumber: BC123445
                    orderDate: '2020-02-02T00:00:00-08:00'
                    effectOfOrder: Court Order to remove James Smith as debtor.
                  deleteDebtors:
                    - personName:
                        first: James
                        last: Smith
                      partyId: 1321067
              secured-party-example:
                summary: Create a Secured Party Name Change Amendment request.
                value:
                  baseRegistrationNumber: 023002B
                  authorizationReceived: true
                  description: Change a secured party name.
                  changeType: AM
                  clientReferenceId: A-00000402
                  debtorName:
                    businessName: DEBTOR 1 INC.
                  registeringParty:
                    businessName: ABC SEARCHING COMPANY
                    address:
                      street: 222 SUMMER STREET
                      city: VICTORIA
                      region: BC
                      country: CA
                      postalCode: V8W 2V8
                    emailAddress: bsmith@abc-search.com
                  deleteSecuredParties:
                    - businessName: BANK OF BRITISH COLUMBIA
                      address:
                        street: 3720 BEACON AVENUE
                        city: SIDNEY
                        region: BC
                        country: CA
                        postalCode: V7R 1R7
                      partyId: 1321095
                  addSecuredParties:
                    - businessName: SECURED PARTY NAME CHANGE EXAMPLE LTD.
                      amendPartyId: 1321095
                      address:
                        street: 3720 BEACON AVENUE
                        city: SIDNEY
                        region: BC
                        country: CA
                        postalCode: V7R 1R7
                      emailAddress: asmith@bobc.com
              debtor-example:
                summary: Create a Debtor Amendment request.
                value:
                  baseRegistrationNumber: 023003B
                  authorizationReceived: true
                  description: Correct debtor name.
                  changeType: AM
                  clientReferenceId: A-00000402
                  debtorName:
                    businessName: DEBTOR 1 INC.
                  registeringParty:
                    code: '3000001'
                  deleteDebtors:
                    - businessName: Brawn Window Cleaning Inc.
                      address:
                        street: 1234 Blanshard St
                        city: Victoria
                        region: BC
                        country: CA
                        postalCode: V8S 3J5
                      partyId: 1321961
                  addDebtors:
                    - businessName: Brown Window Cleaning Inc.
                      address:
                        street: 1234 Blanshard St
                        city: Victoria
                        region: BC
                        country: CA
                        postalCode: V8S 3J5
                      emailAddress: csmith@bwc.com
              vehicle-example:
                summary: Create a Vehicle Collateral Amendment request.
                value:
                  baseRegistrationNumber: 023004B
                  authorizationReceived: true
                  description: Correct vehicle VIN.
                  changeType: AM
                  clientReferenceId: A-00000402
                  debtorName:
                    businessName: DEBTOR 1 INC.
                  registeringParty:
                    code: '3000001'
                  deleteVehicleCollateral:
                    - type: MV
                      serialNumber: KNADM5A39E6904135
                      year: 2014
                      make: KIA
                      model: RIO
                      vehicleId: 974124
                  addVehicleCollateral:
                    - type: MV
                      serialNumber: KM8J3CA46JU622994
                      year: 2018
                      make: HYUNDAI
                      model: TUCSON
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verificationStatement'
              examples:
                /api/v1/financing-statements/0023001B/amendments/post:
                  summary: Create a Court Order Amendment response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-27T18:38:20+00:00'
                    amendmentRegistrationNumber: 0023501B
                    baseRegistrationNumber: 0023001B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023001B
                        description: Court Order debtor removal.
                        changeType: CO
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8W 2V8
                          emailAddress: bsmith@abc-search.com
                        courtOrderInformation:
                          courtName: Supreme Court of British Columbia.
                          courtRegistry: KAMLOOPS
                          fileNumber: BC123445
                          orderDate: '2020-02-02T00:00:00-08:00'
                          effectOfOrder: Court Order to remove James Smith as debtor.
                        deleteDebtors:
                          - personName:
                              first: James
                              last: Smith
                            partyId: 1321067
                        createDateTime: '2020-02-21T18:56:20+00:00'
                        amendmentRegistrationNumber: 0023501B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
                /api/v1/financing-statements/0023002B/amendments/post:
                  summary: Create a Secured Party Name Change Amendment response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: SECURED PARTY NAME CHANGE EXAMPLE LTD.
                        address:
                          street: 3720 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-27T18:38:20+00:00'
                    amendmentRegistrationNumber: 0023502B
                    baseRegistrationNumber: 0023002B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023002B
                        description: Change a secured party name.
                        changeType: AM
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8W 2V8
                          emailAddress: bsmith@abc-search.com
                        deleteSecuredParties:
                          - businessName: BANK OF BRITISH COLUMBIA
                            address:
                              street: 3729 BEACON AVENUE
                              city: SIDNEY
                              region: BC
                              country: CA
                              postalCode: V7R 1R7
                              partyId: 1321095
                        addSecuredParties:
                          - businessName: SECURED PARTY NAME CHANGE EXAMPLE LTD.
                            amendPartyId: 1321095
                            address:
                              street: 3720 BEACON AVENUE
                              city: SIDNEY
                              region: BC
                              country: CA
                              postalCode: V7R 1R7
                            emailAddress: asmith@bobc.com
                            partyId: 1322164
                        createDateTime: '2020-02-21T18:56:20+00:00'
                        amendmentRegistrationNumber: 0023502B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
                /api/v1/financing-statements/0023003B/amendments/post:
                  summary: Create a Debtor Amendment response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-27T18:38:20+00:00'
                    amendmentRegistrationNumber: 0023503B
                    baseRegistrationNumber: 0023003B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023003B
                        description: Correct debtor name.
                        changeType: AM
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8V 4V6
                          emailAddress: bsmith@abc-search.com
                        deleteDebtors:
                          - businessName: Brawn Window Cleaning Inc.
                            address:
                              street: 1234 Blanshard St
                              city: Victoria
                              region: BC
                              country: CA
                              postalCode: V8S 3J5
                            partyId: 1321161
                        addDebtors:
                          - businessName: Brown Window Cleaning Inc.
                            address:
                              street: 1234 Blanshard St
                              city: Victoria
                              region: BC
                              country: CA
                              postalCode: V8S 3J5
                            emailAddress: csmith@bwc.com
                            partyId: 1322165
                        createDateTime: '2020-02-21T18:56:20+00:00'
                        amendmentRegistrationNumber: 0023503B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
                /api/v1/financing-statements/0023004B/amendments/post:
                  summary: Create a Vehicle Collateral Amendment response.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-27T18:38:20+00:00'
                    amendmentRegistrationNumber: 0023504B
                    baseRegistrationNumber: 0023004B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023004B
                        description: Correct vehicle VIN.
                        changeType: AM
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8V 4V6
                          emailAddress: bsmith@abc-search.com
                        deleteVehicleCollateral:
                          - type: MV
                            serialNumber: KNADM5A39E6904135
                            year: 2014
                            make: KIA
                            model: RIO
                            vehicleId: 974124
                        addVehicleCollateral:
                          - type: MV
                            serialNumber: KM8J3CA46JU622994
                            year: 2018
                            make: HYUNDAI
                            model: TUCSON
                            vehicleId: 976012
                        createDateTime: '2020-02-21T18:56:20+00:00'
                        amendmentRegistrationNumber: 0023504B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/ppr/api/v1/financing-statements/{registration_num}/amendments/{amendment_registration_num}':
    get:
      tags:
        - Financing Statement
      summary: Retrieve an Amendment Statement
      description: '<p>Retrieve by amendment registration number an Amendment Statement. The account ID used to submit the request must match the account ID used to create the Amendment Statement identified by the amendment registration number. The Amendment registration must be a change to the Financing Statement identified by the registration_num path parameter.</p><p>If the request is for a report and the report does not exist and the report service returns an error, the response status is 503 service unavailable.</p>'
      operationId: get-amendment-statement
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/registration_num'
        - schema:
            type: string
            example: application/pdf
          in: header
          name: Accept
          description: The optional requested MIME type format of the response. Allowed values are application/json (the default) or application/pdf.
        - schema:
            type: string
          name: amendment_registration_num
          in: path
          required: true
          description: The registration number of the Amendment Statement to retrieve.
          example: 0023204B
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verificationStatement'
              examples:
                /api/v1/financing-statements/0023004B/amendments/0023204B/get:
                  summary: Retrieve an Amendment Registration Statement.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-27T18:38:20+00:00'
                    amendmentRegistrationNumber: 0023204B
                    baseRegistrationNumber: 0023004B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023004B
                        description: Correct vehicle VIN.
                        changeType: AM
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8V 4V6
                          emailAddress: bsmith@abc-search.com
                        deleteVehicleCollateral:
                          - type: MV
                            serialNumber: KNADM5A39E6904135
                            year: 2014
                            make: KIA
                            model: RIO
                            vehicleId: 974124
                        addVehicleCollateral:
                          - type: MV
                            serialNumber: KM8J3CA46JU622994
                            year: 2018
                            make: HYUNDAI
                            model: TUCSON
                            vehicleId: 976012
                        createDateTime: '2020-02-21T18:56:20+00:00'
                        amendmentRegistrationNumber: 0023204B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  '/ppr/api/v1/financing-statements/{registration_num}/changes/{change_registration_num}':
    get:
      tags:
        - Financing Statement
      summary: Retrieve a Change Statement
      description: <p>Retrieve by change registration number a Change Statement. The account ID used to submit the request must match the account ID used to create the Change Statement identified by the change registration number. The Change registration must be a change to the Financing Statement identified by the registration_num path parameter.</p>
      operationId: get-change-statement
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/registration_num'
        - schema:
            type: string
            example: application/pdf
          in: header
          name: Accept
          description: The optional requested MIME type format of the response. Allowed values are application/json (the default) or application/pdf.
        - schema:
            type: string
          name: change_registration_num
          in: path
          required: true
          description: The registration number of the Change Statement to retrieve.
          example: 0023310B
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verificationStatement'
              examples:
                /api/v1/financing-statements/0023010B/changes/0023310B/get:
                  summary: Retrieve a Change Registration Statement.
                  value:
                    type: SA
                    registrationDescription: PPSA SECURITY AGREEMENT
                    registrationAct: PPSA SECURITY ACT
                    clientReferenceId: A-00000402
                    documentId: D0034001
                    registeringParty:
                      businessName: ABC SEARCHING COMPANY
                      address:
                        street: 222 SUMMER STREET
                        city: VICTORIA
                        region: BC
                        country: CA
                        postalCode: V8W 2V8
                      emailAddress: bsmith@abc-search.com
                    securedParties:
                      - businessName: BANK OF BRITISH COLUMBIA
                        address:
                          street: 3721 BEACON AVENUE
                          city: SIDNEY
                          region: BC
                          country: CA
                          postalCode: V7R 1R7
                        emailAddress: asmith@bobc.com
                        partyId: 1321224
                    debtors:
                      - businessName: Debtor 1 Inc.
                        address:
                          street: 721 Debtor Ave
                          city: Victoria
                          region: BC
                          country: CA
                          postalCode: A1A 1A1
                        birthDate: '1990-06-15T16:42:00-08:00'
                        emailAddress: dsmith@debtor1.com
                        partyId: 1321233
                    vehicleCollateral:
                      - type: MV
                        serialNumber: KM8J3CA46JU622994
                        year: 2018
                        make: HYUNDAI
                        model: TUCSON
                        vehicleId: 974132
                    generalCollateral:
                      - description: 'ALL THE DEBTOR''S PRESENT AND AFTER ACQUIRED PERSONAL PROPERTY,INCLUDING BUT NOT RESTRICTED TO MACHINERY, EQUIPMENT, FURNITURE,FIXTURES, INVENTORY AND RECEIVABLES.'
                        addedDateTime: '2020-02-21T18:38:20Z'
                        collateralId: 125000
                    lifeYears: 5
                    trustIndenture: false
                    createDateTime: '2020-02-26T18:38:20+00:00'
                    changeRegistrationNumber: 0023310B
                    baseRegistrationNumber: 0023010B
                    baseRegistrationDateTime: '2020-02-21T18:38:20+00:00'
                    expiryDate: '2025-02-21T23:59:59+00:00'
                    payment:
                      receipt: /pay/api/v1/payment-requests/2198743/receipts
                      invoiceId: '2198743'
                    changes:
                      - baseRegistrationNumber: 0023010B
                        documentId: D0034003
                        changeType: DT
                        clientReferenceId: A-00000402
                        registeringParty:
                          businessName: ABC SEARCHING COMPANY
                          address:
                            street: 222 SUMMER STREET
                            city: VICTORIA
                            region: BC
                            country: CA
                            postalCode: V8W 2V8
                          emailAddress: bsmith@abc-search.com
                        deleteDebtors:
                          - businessName: Brawn Window Cleaning Inc.
                            partyId: 1321065
                        addDebtors:
                          - businessName: Brown Window Cleaning Inc.
                            address:
                              street: 1234 Blanshard St
                              city: Victoria
                              region: BC
                              country: CA
                              postalCode: V8S 3J5
                            emailAddress: csmith@bwc.com
                            partyId: 1325132
                        createDateTime: '2020-02-26T18:36:20+00:00'
                        changeRegistrationNumber: 0023310B
                        payment:
                          receipt: /pay/api/v1/payment-requests/2198743/receipts
                          invoiceId: '2198743'
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/ppr/api/v1/financing-statements/{registration_num}/debtorNames':
    get:
      tags:
        - Financing Statement
      summary: Retrieve a list of all debtor names.
      description: '<p>Retrieve by registration number a list of all debtor names associated with a Financing Statement. The  account ID used to submit the request must match the account ID used to create the Financing Statement identified by the registration number. All existing debtor names are included in the response, including those for removed debtors. The list of names is sorted by the order they were submitted.<p><p>Background: this endpoint is used by the PPR application to help the user identify a debtor for an amendment, change, discharge, or renewal registration. This extra piece of information helps prevent mistakes creating  registrations on the wrong Financing Statement.</p>'
      operationId: get-debtor-names
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/registration_num'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'
          content:
            application/json:
              schema:
                type: array
                items:
[...]
