name: MHR API CI

on:
  pull_request:
    paths:
      - "mhr-api/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./mhr-api

jobs:
  mhr-api-ci:
    uses: pwei1018/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "mhr-api"
      working_directory: "./mhr-api"
      codecov_flag: "mhrapi"
