name: PPR UI CI

on:
  pull_request:
    types: [assigned, synchronize]
    paths:
      - "ppr-ui/**"


defaults:
  run:
    shell: bash
    working-directory: ./ppr-ui

jobs:
  setup-job:
    runs-on: ubuntu-20.04

    if: github.repository == 'bcgov/ppr'

    steps:
      - uses: actions/checkout@v2
      - run: "true"

  linting:
    needs: setup-job
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.14.2]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Linting
        run: |
          make lint

  testing-coverage:
    needs: setup-job
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.14.2]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Test with Jest
        id: test
        run: |
          make test
        env:
          PPR_API_KEY: ${{ secrets.PPR_API_KEY }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: pprui
          name: codecov-ppr-ui
          fail_ci_if_error: true

  build-check:
    needs: setup-job
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: build to check strictness
        id: build
        run: |
          make build-nc
